<div>
	<h1>Character Sheet</h1>
	<div class="inventory">
		<h2>Inventory</h2>
		
		<h4>Dropped:</h3>
		<table border="1">
			<thead>
				<tr>
					<td>Item Name</td>
					<td>Qty</td>
					<td>Weight</td>
					<td>Type</td>
					<td><i>Actions</i></td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="entry in char.inventory.dropped.list">
					<td><input type="text" v-on:blur="entry.item.name=setValidNameOfInput($event.target, entry.item.name)" v-bind:value="entry.item.name"></input></td>
					<td><input type="number" v-model="entry.qty" number min="0"></input></td>
					<td><input type="number" v-model="entry.item.weight" number min="0"></input></td>
					<td>{{ entry.item.getTypeLabel() }}</td>
					<td>
						<a href="javascript:;">Pack</a>
						<a href="javascript:;">Equip</a>
						<a href="javascript:;">Hold</a>
						<a href="javascript:;" v-on:click="char.inventory.dropped.delete(entry)">Delete</a>
					</td>
				</tr>
				<tr>
					<td><input type="text" v-model="droppedEntry.name" required v-on:focus="focusInRowFieldQty(droppedEntry, 1)" v-on:blur="focusOutRowFieldQty(droppedEntry, 1)"></input></td>
					<td><input type="number" v-model="droppedEntry.qty" number min="1" v-on:focus="focusInRowFieldQty(droppedEntry, 2)" v-on:blur="focusOutRowFieldQty(droppedEntry, 2)"></input></td>
					<td><input type="number" v-model="droppedEntry.weight" number min="1" v-on:focus="focusInRowFieldQty(droppedEntry, 4)" v-on:blur="focusOutRowFieldQty(droppedEntry, 4)"></input></td>
					<td>
						MiscItem
					</td>
					
				</tr>
				
				
			</tbody>
		</table>
		
		<h4>Packed: <label style="font-size:10px">Drop?</label><input type="checkbox" v-model="char.inventory.dropPack"></input></h3>
		
		<table border="1">
			<thead>
				<tr>
					<td>Item Name</td>
					<td>Qty</td>
					<td>Weight</td>
					<td>Type</td>
					<td><i>Actions</i></td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="entry in char.inventory.packed.list">
					<td><input type="text" v-on:blur="entry.item.name=setValidNameOfInput($event.target, entry.item.name)" v-bind:value="entry.item.name"></input></td>
					<td><input type="number" v-model="entry.qty" number min="0"></input></td>
					<td><input type="number" v-model="entry.item.weight" number min="0"></input></td>
					<td>{{ entry.item.getTypeLabel() }}</td>
					<td></td>
					<td>
						<a href="javascript:;">Pack</a>
						<a href="javascript:;">Equip</a>
						<a href="javascript:;">Hold</a>
						<a href="javascript:;" v-on:click="char.inventory.packed.delete(entry)">Delete</a>
					</td>
				</tr>
				<tr>
					<td><input type="text" v-model="packedEntry.name" required v-on:focus="focusInRowFieldQty(packedEntry, 1)" v-on:blur="focusOutRowFieldQty(packedEntry, 1)"></input></td>
					<td><input type="number" v-model="packedEntry.qty" number min="1" v-on:focus="focusInRowFieldQty(packedEntry, 2)" v-on:blur="focusOutRowFieldQty(packedEntry, 2)"></input></td>
					<td><input type="number" v-model="packedEntry.weight" number min="1" v-on:focus="focusInRowFieldQty(packedEntry, 4)" v-on:blur="focusOutRowFieldQty(packedEntry, 4)"></input></td>
					<td>MiscItem</td>
				</tr>
			</tbody>
		</table>
					
		<h3>Equiped</h3>
		
		
		<h4>Shields:</h4>
		<table border="1">
			<thead>
				<tr>
					<td>Shield Name</td>
					<td>AV</td>
					<td>Block</td>
					<td>Weight</td>
					<td>Coverage</td>
					<td>Kept at?</td>
					<td>Held?</td>
					<td><i>Actions</i></td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="entry in char.inventory.shields">
					<td><input type="text" v-on:blur="entry.shield.name=setValidNameOfInput($event.target, entry.shield.name)" v-bind:value="entry.shield.name"></input></td>
					<td><input type="number" v-model="entry.shield.av" number min="0"></input></td>
					<td><input type="number" v-model="entry.shield.block" number min="0"></input></td>
					<td><input type="number" v-model="entry.shield.weight" number min="0"></input></td>
					<td><input type="text" :value="entry.shield.coverage"></input></td>
					
					<td><input type="text" v-model="entry.unheldRemark"></input></td>
					<td>
						<a href="javascript:;" v-show="entry.held==0">Hold</a>
						<a href="javascript:;">Pack</a>
						<a href="javascript:;">Drop</a>
						<a href="javascript:;">Delete</a>
					</td>
				</tr>
				<tr>
					
	
				</tr>
			</tbody>
		</table>
		
		<h4>Weapons:</h4>
		<table border="1">
			<thead>
				<tr>
					<td>Weapon Name</td>
					<td>Type</td>
					<td>Hands</td>
					<td>Reach</td>
					<td>SwingTN</td>
					<td>ThrustTN</td>
					<td>DTN</td>
					<td>Guard</td>
					<td>Weight</td>
					<td>Kept at?</td>
					<td>Held?</td>
					<td><i>Actions</i></td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="entry in char.inventory.weapons">
					<td><input type="text" v-on:blur="entry.weapon.name=setValidNameOfInput($event.target, entry.weapon.name)" v-bind:value="entry.weapon.name"></input></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					
					<td><input type="text" v-model="entry.unheldRemark"></input></td>
					<td></td>
					<td>
						<a href="javascript:;" v-show="entry.held==0">Hold</a>
						<a href="javascript:;">Pack</a>
						<a href="javascript:;">Drop</a>
						<a href="javascript:;">Delete</a>
					</td>
				</tr>
				<tr>
					
	
				</tr>
			</tbody>
		</table>
					
					
		<h4>MiscItems:</h4>
		<table border="1">
			<thead>
				<tr>
					<td>MiscItem Name</td>
					<td>Weight</td>
					
					<td>Kept At?</td>
					<td>Held?</td>
					<td><i>Actions</i></td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="entry in char.inventory.equipedNonMeleeItems">
					<td><input type="text" v-on:blur="entry.item.name=setValidNameOfInput($event.target, entry.item.name)" v-bind:value="entry.item.name"></input></td>
					<td><input type="number" number min="0" v-model="entry.item.weight"></input></td>
					
					<td><input type="text" v-model="entry.unheldRemark"></input></td>
					<td></td>
					<td>
						<a href="javascript:;" v-show="entry.held==0">Hold</a>
						<a href="javascript:;">Pack</a>
						<a href="javascript:;">Drop</a>
						<a href="javascript:;">Delete</a>
					</td>
				</tr>
				<tr>
					
	
				</tr>
			</tbody>
		</table>		
			
		
		<h4>Armor:</h4>
		<table border="1">
			<thead>
				<tr>
					<td>Armor Name</td>
					<td>AVC</td>
					<td>AVP</td>
					<td>AVB</td>
					<td>Coverage</td>
					<td>Tags</td>
					<td>Weight</td>
					
					<td><i>Actions</i></td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="armor in char.inventory.wornArmor">
					<td><input type="text" v-model="armor.name"></input></td>
					<td><input type="text" v-model="armor.AVC"></input></td>
					<td><input type="text" v-model="armor.AVP"></input></td>
					<td><input type="text" v-model="armor.AVB"></input></td>
					<td><input type="text" :value="armor.coverage"></input></td>
					<td><input type="text" v-model="armor.tags"></input></td>
					<td><input type="text" v-model="armor.weight"></input></td>
					
					<td>
						<a href="javascript:;">Pack</a>
						<a href="javascript:;">Drop</a>
						<a href="javascript:;">Delete</a>
					</td>
				</tr>
				<tr>
					
	
				</tr>
			</tbody>
		</table>		
		
		
		<hr/>
		<button v-on:click="saveSheet()">Save Sheet</button>
		
		<div>
			<br/>
			<textarea character-set="UTF-8" v-html="copyToClipboard"></textarea>
		</div>
					
		<button v-on:click="loadSheet()">Load Sheet</button>
	</div>
</div>