<div class="chargen" :class="{'in-inventory':insideInventory}">
	<h1>Song of Swords: Character Creation</h1>
	
	<div class="chargen__body" v-if="!insideInventory && !char.ingame">
		
		<section class="gen-general" id="gen-general">
			<div><label>Name:<InputNameLabel :obj="char" prop="name"></InputNameLabel></label></div>
			<div><label>Title <i>(optional)</i>:<InputNameLabel :obj="char" prop="title"></InputNameLabel></label></div>
			<div><label>Nickname <i>(optional)</i>:<InputNameLabel :obj="char" prop="nickname"></InputNameLabel></label></div>
			<div><label>Faction/Assosiation <i>(optional)</i>:<InputNameLabel :obj="char" prop="faction"></InputNameLabel></label></div>
			<div><label>Gender:</label><select number v-model.number="char.gender"><option :value="0">Male</option><option :value="1">Female</option></select></div>
			<div><label>Left-handed?:<input type="checkbox" v-model="char.leftHanded"></input></label></div>
			<br/>
			<b>{{addressedAs}}</b>
		</section>
		
		<section class="gen-campaign-type">
			<h2>Campaign Power</h2>
			<div v-for="(li, i) in campaignPowerLevels">
				<label><input type="radio" name="campaign-power" v-on:click="campaignPowLevelIndex=i" :checked="campaignPowLevelIndex == i">{{li.name}} (<span class="num">{{li.pcp}}</span> PCP Total) (Max <span class="num">{{li.maxCategoryPCP}}</span> PCP per category) </input></label>
			</div>
		</section>
				
		<section class="gen-categories">
			<h2>Categories <span class="valuer" :class="{'still-have':categoriesRemainingAssignable>0}">({{ categoriesRemainingAssignable }} remaining PCP)</span> <span class="valid" v-show="categoriesRemainingAssignable==0" style="color:green">Ok!</span></h2>
			<div v-for="(li, i) in categories"><label>{{li.name}}: </label><CategoryPCPInput :obj="li" prop="pcp" :magic="li.magic" :remainingAssignable="categoriesRemainingAssignable" :maxPCPPerCategory="campaignPowLevel.maxCategoryPCP" />PCP &nbsp;&nbsp;|{{campaignPowLevel.maxCategoryPCP}}</div>
		</section>
			
			
		<hr/>
			
			
		<!-- for each category -->
		<section class="gen-race" id="gen-race">
			<h2>Race <span class="valuer">(Tier {{raceTier}}) </span> <span class="valid" v-show="!promptSettleRaceTier" style="color:green">Ready.</span></h2>
			<div class="gen-col">
				<div v-for="(tier, ti) in raceTierTable" :key="ti">
					<span class="index-num">{{ ti + 1 }}:</span> ({{pcpForTiers[ti]}} PCP)
					<label :class="{disabled:ti>=raceTier}" v-for="(race, ri) in tier"><input type="radio" :disabled="ti>=raceTier" name="race" :checked="race.name == selectedRaceName" v-on:click="selectRaceAt(ti, ri)" :key="ri"></input>{{ race.name }}</label>
				</div>
				<div v-show="promptSettleRaceTier"><button style="margin-top:10px"  v-on:click="settleRaceTier()">Finalise Race/Tier!</button> <span class="invalid" style="color:red">&lt;&lt; Click this to confirm.</span>
				</div>
			</div>
		</section>
			
		<hr/>
				
			
		<section class="gen-social-class"  id="gen-social-class">
			<h2>Social Class/Wealth <span class="valuer">({{categorySocialClassWealth.pcp}} PCP assigned)</span></h2>
			<div class="gen-col">
				<div class="socialclass-li">
					<span class="index-num"></span><span class="col-social-class" style="text-align:right;">Sync Wealth?</span><span class="col-wealth"><input type="checkbox" v-model="syncSocialWealth"></input><label v-show="!syncSocialWealth">&#128275;</label><label v-show="syncSocialWealth">&#128274;</label> <label>{{ socialClassIndex == wealthIndex ? "==" :  "!="}}</label></span>
				</div>
				<div v-for="(li, i) in socialClassList" class="socialclass-li">
					<span class="index-num">{{i+1}}:</span> <label class="col-social-class" :class="{disabled:socialEitherMaxIndex<i}"><input type="radio" v-on:click="setSocialClassIndex(i)" name="social-class" :checked="socialClassIndex==i"></input>{{ li.socialClass.name }}</label> <label class="col-wealth" :class="{disabled:wealthEitherMaxIndex<i}"><input type="radio" v-on:click="setWealthIndex(i)" name="wealth" :disabled="syncSocialWealth" :checked="wealthIndex==i"></input>{{ li.socialClass.money.getLabel() }}{{ li.socialClass.wealth!= 0 ? ", ["+li.socialClass.wealth+"W]" : "" }}</label>
				</div>
			</div>
			<div class="gen-col">
				<div v-show="wealthIndex != socialClassIndex" class="custom-label"><label>Custom Label: <input type="text" :placeholder="socialClassPlaceHolderName" v-model="char.socialClass.name"></input></label></div>
				<div class="social-benefits">
					<div class="social-benefit"><label>Social Benefit #1: </label><select  v-on:change="socialBenefitSelectChangeHandler(1, $event.target.selectedIndex)"><option v-for="(li,i) in socialBenefitChoices" :disabled="socialBenefit2.name===li.name || (curSelectedSocialClass.maxBoons >= 3 && socialBenefit3.name===li.name)" :selected="li===socialBenefit1" :key="li.label">{{ li.label }}</option></select></div>
					<div class="social-benefit"  v-show="curSelectedSocialClass.maxBoons>= 2"><label>Social Benefit #2: </label><select v-on:change="socialBenefitSelectChangeHandler(2, $event.target.selectedIndex)" :disabled="curSelectedSocialClass.maxBoons<2"><option v-for="(li,i) in socialBenefitChoices" :disabled="socialBenefit1.name===li.name || (curSelectedSocialClass.maxBoons>=3 && socialBenefit3.name===li.name)" :selected="li===socialBenefit2" :key="li.label">{{ li.label }}</option></select></div>
					<div class="social-benefit"  v-show="curSelectedSocialClass.maxBoons>=3"><label>Social Benefit #3: </label><select v-on:change="socialBenefitSelectChangeHandler(3, $event.target.selectedIndex)" :disabled="curSelectedSocialClass.maxBoons<3"><option v-for="(li,i) in socialBenefitChoices" :disabled="socialBenefit1.name===li.name || (curSelectedSocialClass.maxBoons >=2 && socialBenefit2.name===li.name)" :selected="li===socialBenefit3" :key="li.label">{{ li.label }}</option></select></div>
				</div>
				<div class="modified-wealth-assets" v-show="availableWealthPointsBase!=availableWealthPoints" :class="[availableWealthPoints<availableWealthPointsBase ? 'lower' : 'higher']">
					<label>Modified Wealth: <b>{{ availableWealthPoints }}W</b></label>
				</div>
				<div class="wealth-assets" v-show="availableWealthPoints > 0">
					<label>Your Wealth Assets: <span class="valuer" v-show="remainingWealthPoints>0" :class="{'still-have':remainingWealthPoints>0}">({{remainingWealthPoints}}  Wealth Point(s) remaining.)</span></label>
					<ArrayOf of="WealthAssetAssign" :defaultValue="getEmptyWealthAssign" :obj="$data" prop="wealthAssets" :minLength="0" :maxLength="maxWealthAssets" :remainingWealth="remainingWealthPoints" />
				</div>
			</div>
					
			<div v-show="promptSettleSocialTier"><button style="margin-top:10px"  v-on:click="settleSocialTier()">Finalise Social Class/Wealth!</button> <span class="invalid" style="color:red">&lt;&lt; Click this to confirm. </span><span v-show="!syncSocialWealth">( <b>{{socialPCPRequired }}</b> PCP instead. )</span>
			</div>
		</section>
			
		
		
		<hr/>
			
		<section class="gen-attributes" id="gen-attributes">
			<h2>Attributes <span class="valuer" :class="{'still-have':remainingAttributePoints>0 || negativeOrZeroStat}">({{remainingAttributePoints}}  Attribute Points remaining.)</span> <span class="valuer">(Available: {{availableAttributePoints}}) </span><span class="valid" v-show="remainingAttributePoints==0 && !negativeOrZeroStat" style="color:green">Ok!</span></h2>
			<div class="gen-col">
				<div><label>Strength:</label><AttributeInput :obj="char" prop="strength" :remainingAttributePoints="remainingAttributePoints" /><span class="modified-attribute" v-show="strength != STR" :class="[STR<strength ? 'lower' : 'higher', {'zero-neg':STR<=0} ]">{{STR}}</span></div>
				<div><label>Agility:</label><AttributeInput :obj="char" prop="agility" :remainingAttributePoints="remainingAttributePoints" /><span class="modified-attribute" v-show="agility != AGI" :class="[AGI<agility ? 'lower' : 'higher', {'zero-neg':AGI<=0}]">{{AGI}}</span></div>
				<div><label>Endurance:</label><AttributeInput :obj="char" prop="endurance" :remainingAttributePoints="remainingAttributePoints" /><span class="modified-attribute" v-show="endurance != END" :class="[END<endurance ? 'lower' : 'higher', {'zero-neg':END<=0}]">{{END}}</span></div>
				<div><label>Health:</label><AttributeInput :obj="char" prop="health" :remainingAttributePoints="remainingAttributePoints" /><span class="modified-attribute" v-show="health != HLT" :class="[HLT<health ? 'lower' : 'higher', {'zero-neg':HLT<=0}]">{{HLT}}</span></div>
				<div><label>Willpower:</label><AttributeInput :obj="char" prop="willpower" :remainingAttributePoints="remainingAttributePoints" /><span class="modified-attribute" v-show="willpower != WIP" :class="[WIP<willpower ? 'lower' : 'higher', {'zero-neg':WIP<=0}]">{{WIP}}</span></div>
				<div><label>Wit:</label><AttributeInput :obj="char" prop="wit" :remainingAttributePoints="remainingAttributePoints" /><span class="modified-attribute" v-show="wit != WIT" :class="[WIT<wit ? 'lower' : 'higher', {'zero-neg':WIT<=0}]">{{WIT}}</span></div>
				<div><label>Intelligence:</label><AttributeInput :obj="char" prop="intelligence" :remainingAttributePoints="remainingAttributePoints" /><span class="modified-attribute" v-show="intelligence != INT" :class="[INT<intelligence ? 'lower' : 'higher', {'zero-neg':INT<=0}]">{{INT}}</span></div>
				<div><label>Perception:</label><AttributeInput :obj="char" prop="perception" :remainingAttributePoints="remainingAttributePoints" /><span class="modified-attribute" v-show="perception != PER" :class="[PER<perception ? 'lower' : 'higher', {'zero-neg':PER<=0}]">{{PER}}</span></div>
			</div>
			<div class="gen-col">
				<div><b>ADR</b> (Adroitness): <span class="modified-attribute" :class="[ADR==adr ?'base' : ADR<adr ? 'lower' : 'higher']"><b>{{ADR}}</b></span><i v-show="adr!=ADR" class="baseshow">({{adr}})</i></div>
				<div><b>SDB</b> (Strength Damage Bonus): <span><b>{{SDB}}</b></span></div>
				<div><b>GRIT</b> (Grit): <span class="modified-attribute" :class="[baseGrit==GRIT ?'base' : GRIT<baseGrit ? 'lower' : 'higher']"><b>{{GRIT}}</b></span><i v-show="baseGrit!=GRIT" class="baseshow">({{baseGrit}})</i></div>
			
				<div><b>MOB</b> (Mobility): <span class="modified-attribute" :class="[MOB==mob ?'base' : MOB<mob ? 'lower' : 'higher']"><b>{{MOB}}</b></span><i v-show="mob!=MOB" class="baseshow">({{mob}})</i></div>
				<div><b>CAR</b> (Carry): <span class="modified-attribute" :class="[CAR==car ?'base' : CAR<car ? 'lower' : 'higher']"><b>{{CAR}}</b></span><i v-show="car!=CAR" class="baseshow">({{car}})</i></div>
				
				<div><b>CHA</b> (Charisma): <span class="modified-attribute" :class="[CHA==cha ?'base' : CHA<cha ? 'lower' : 'higher']"><b>{{CHA}}</b></span><i v-show="cha!=CHA" class="baseshow">({{cha}})</i></div>
				
				<div><i>TOU</i> (Toughness): <span class="modified-attribute" :class="[TOU==tou ?'base' : TOU<tou ? 'lower' : 'higher']"><b>{{TOU}}</b></span><i v-show="tou!=TOU" class="baseshow">({{tou}})</i></div>
				<hr/>
				<div>Weight/Carry: <b>{{inventoryWeightLbl}}</b> / <b :style="{fontWeight:encumbranceLvl>=1 ?'normal':'bold'}">{{CAR}}</b></div>
				<div>Master-hand: <span v-if="masterHandItem!=null"><b>{{masterHandItem.name}}</b> <span v-show="masterWeapon!=null">&#9876;</span><span v-if="carriedShield!=null && carriedShield==masterHandItem"><span class="shield-icon-inv">☗</span><select v-model.number="char.inventory.shieldPosition" number><option :value="0">Low</option><option :value="1">High</option></select></span></span></div>
				<div>Off-hand: <span v-if="offHandItem!=null"><b>{{offHandItem.name}}</b> <span v-show="offhandWeapon!=null">&#9876;</span><span v-if="carriedShield!=null && carriedShield==offHandItem"><span class="shield-icon-inv">☗</span><select v-model.number="char.inventory.shieldPosition" number><option :value="0">Low</option><option :value="1">High</option></select></span></span></div>
				<div>Reach: <span class="modified-attribute" :class="[reachBase==reach ?'base' : reach<reachBase ? 'lower' : 'higher']"><b>{{reach}}</b></span><i v-show="reachBase!=reach" class="baseshow">({{reachBase}})</i></div>
				<div>Perception Penalty: <b>{{ perceptionPenalty }}</b></div>
				<div v-if="heldProfeciencies!=null">&#9876;: <b style="max-width:120px">{{heldProfeciencies}}</b></div>
				<div v-else>Defaulting&#9876;from:<br/><b style="max-width:120px">{{defaultProfs}}</b></div>
			</div>
			<div class="gen-col">
				<div>School Level: <b>{{char.schoolLevel}}</b></div>
				<div class="cp"><b>CP</b> (Melee Combat Pool): <span :class="[CP==baseCP ?'base' : CP<baseCP ? 'lower' : 'higher', {'modified-attribute':CP != baseCP}]"><b>{{CP}}</b></span><i v-show="CP!=baseCP" class="baseshow">({{baseCP}})</i>  (<i>{{CP-char.schoolLevel}}</i> CP without &#9876;)</div>
				
				<div><i>CP - Pain(<span v-show="totalPain>0" class="got-pain">{{totalPain}}</span>):</i> <b>{{meleeCP}}</b> (<i>{{meleeCP-char.schoolLevel}}</i> CP without &#9876;)</div>
				<br/>
				<div>Encumbrance Level: <span><b>{{encumbranceLvlRow.name}}</b>({{encumbranceLvl}})</span></div>
				<div>Skill Penalty: <span><b>{{skillPenalty}}</b></span></div>
				<div>Exhaustion Rate: <span><b>{{exhaustionRate}}x</b></span></div>
				<div>Recovery Amount: <span class="modified-attribute" :class="[recoveryRateAmount==recoveryRateAmountBase ?'base' : recoveryRateAmount<recoveryRateAmountBase ? 'lower' : 'higher']"><b>{{recoveryRateAmount}} <i>({{recoveryRate}}x)</i></b></span><i v-show="recoveryRateAmount!=recoveryRateAmountBase" class="baseshow">({{recoveryRateAmountBase}})</i></div>
			</div>
		</section>

		<hr/>
		
			
		<section class="gen-bnb"  id="gen-bnb">
			<h2>Boons &amp; Banes <span class="valuer">(<span class="num">{{totalBnBScore }}</span> B&amp;B Points currently. (Pool: {{BnBpoints}} Points) ) </span>
			
			<span v-show="totalBnBScore<0" class="invalid"><span style="color:red">invalid!</span><i style="font-size:13px">(Need &gt;=0 B&amp;B points!<br/>Assign more PCP to 'Boons &amp; Banes' or buy more Banes to pay off debt!)</i></span>
			<span v-show="totalBnBScore>=0" class="valid">
				<span style="color:green">Ok!</span><br/><span v-show="totalBnBScore>0" style="color:#ff4444;font-size:13px">(but you have additional {{ totalBnBScore }} B&amp;B Points!)</span>
				<div class="opencloselink"><a href="#" v-show="showBnBs" v-on:click.prevent="showBnBs=false">^ Hide</a><a href="#" v-show="!showBnBs" v-on:click.prevent="showBnBs=true">Open &gt;</a> &nbsp;&nbsp;<a style="font-size:12px;float:right" href="#gen-skills" class="jumplink">Skip to Skills..</a></div>
			</span>
			
			</h2>
			<div v-show="shouldShowBnBs">
				<h3>Choose Boons: -{{ totalBoonExpenditure }}   <span v-show="true" style="color:#aaaaaa">&nbsp;&nbsp;({{maxBoonsSpendableLeft }})</span></h3>
				<div class="boon-tags">
					<BoonBaneInput v-for="(li, i) in boonAssignList" :key="i" :obj="li" prop="rank" v-on:resetBB="resetBB" v-on:uncancel="uncancel" v-on:addBB="addBB" v-on:removeBB="removeBB"  :remaining="maxBoonsSpendableLeft" v-on:updateRankBB="updateRankBB" v-on:updateCanceledBB="updateCanceledBB" />
				</div>	
				<h3>Choose Banes: +{{ totalBanePointsEarned }}, ~{{ totalBanePointsSpent }}</h3>
				<div class="bane-tags">
					<BoonBaneInput v-for="(li, i) in baneAssignList" :key="i" :obj="li" prop="rank" v-on:resetBB="resetBB" v-on:uncancel="uncancel"  v-on:addBB="addBB" v-on:removeBB="removeBB"  v-on:updateRankBB="updateRankBB" v-on:updateCanceledBB="updateCanceledBB" />	
				</div>
				
				<br/>
				
				<div class="bb-details">
				<h3><span class="underline">Boon(s):</span><span class="header-liners"><a :href="li.__hasUIFields__ ? '#'+getBnBSlug(li.boon.name) : undefined" :class="{canceled:li._canceled}" v-for="li in boonsArray">{{li.boon.name}}</a></span></h3>
				<bb-apply v-for="(li,i) in boonsArray" :key="li.get_uid()" :assign="li" :remainingPoints="maxBoonsSpendableLeft" :ingame="char.ingame"></bb-apply>
				</div>
				<div class="bb-details">
					<h3><span>Bane(s):</span><span class="header-liners"></span><span class="header-liners"><a :href="li.__hasUIFields__ ? '#'+getBnBSlug(li.bane.name) : undefined"  :class="{canceled:li._canceled}" v-for="li in banesArray">{{li.bane.name}}</a></span></h3>
					<bb-apply v-for="(li,i) in banesArray" :key="li.get_uid()" :assign="li" :ingame="char.ingame" v-on:callback="onBaneCallbackReceived"></bb-apply>
				</div>
			</div>
		</section>
			
		<hr/>
			
		<section class="gen-skills"  id="gen-skills">
			<h2>Skills <span class="valuer" :class="{'still-have':totalSkillPointsLeft!=0}">({{totalSkillPointsLeft}} Skill Points remaining.) {{ individualSkillsRemaining }}</span> <span class="valuer">(Available: {{totalSkillPointsProvided}})</span><span class="formula">(PCP-1)*3+INT*2</span></h2>
		<h3>Skill(s):</h3>
			<div class="skill-lib">
				<SkillLibInput v-for="(skillObj, i) in skillObjs" v-if="!skillsTable.requiresSpecialisation[skillObj.name]" :index="i" :key="skillObj.name" :obj="skillValues" :prop="skillObj.name" :skillsTable="skillsTable" :skillLevelsPacket="skillPacketValues" :remaining="individualSkillsRemaining" :canDelete="i>=startingSkillObjsCount" v-on:change="onSkillIndividualChange" v-on:delete="deleteSkillInput" />
			</div>
			<div class="packet-selection-mode">
				<b>Buy Packets:</b> (cost 3 skill points each)
				<label><input type="radio" name="packetSelectionMode" :checked="!packetChoosy" v-on:click="packetChoosy = false"></input>Pennywise</label>
				<label><input type="radio" name="packetSelectionMode" :checked="packetChoosy" v-on:click="packetChoosy = true"></input>Pennywise and Choosy</label>
			</div>
			<div class="packet-list">
				<SkillPacketInput v-for="(packet,i) in skillPackets" v-on:change="onSkillPacketChange" :obj="packet" prop="qty" :labelMap="skillLabelMappings" :labelSchema="skillLabelMappingBases" :key="packet.name" :index="i" :skillPacketsRemaining="skillPacketsRemaining" :skillValues="skillPacketValues"  :packetChoosy="packetChoosy" :skillSubjectHash="skillSubjectHash"  />
				<SkillSubjectCreator :skillSubjects="skillSubjects" :skillValues="skillValues" :permaHash="skillSubjectsInitial" :skillList="specialisedSkills" :skillSubjectHash="skillSubjectHash" v-on:addSkill="addSkill" />
			</div>
			
			
		</section>
			
		<hr/>
		
		
	
		<section class="gen-schoolprofs"  id="gen-schoolprofs">
			<h2>School &amp; Profeciencies <span class="valuer" :class="{'still-have':stillHaveProfSpend }">( {{profPointsLeft}} Profeciency Points remaining. )</span> <span class="valuer">(Available: {{ProfPoints}}) </span></h2>
			<div class="select-school">
				<div>
					<label class="lbl-school">School: <select number v-on:change="schoolSelectChangeHandler($event.target)"><option :value="-1" :selected="char.school==null"></option><option :value="i" v-for="(li, i) in schoolAssignList" :disabled="!li.school.canAffordWith(ProfPoints, moneyLeft, char.school) || !li.school.customRequire(char)" :selected="char.school==li.school">{{ li.school.name }} ({{ li.school.costArc }}) {{ li.school.costMoney != null ? " - "+li.school.costMoney.getLabel() : "" }}</option></select></label> <label class="lbl-level">Level:<SchoolLevelInput :obj="char" prop="schoolLevel" :levelCosts="schoolLevelCosts" :remainingArc="profPointsLeft" :disabled="char.school==null" /></label>
				</div>
	
			</div>
			<div class="school-info" v-if="hasSchool">
				<div>Max Profeciencies: {{ char.school.profLimit }}</div>
				<div class="cost-info">Learning Profeciency/Arc Point Cost: ( <span :class="{selected:isHuman}"><b class="color-free">Free</b> - Human</span>, &nbsp; <span :class="{selected:!isHuman}"><b>3 points</b> - Non-human)</span></div>
			</div>
			<div class="prof-list">
				<div class="gen-col">
					<h5>Melee Profeciencies: <span class="valid ready" style="color:green" v-if="$data.profCoreListMelee.length>=maxMeleeProfSlots && traceProfCoreMeleeCount == maxMeleeProfSlots">{{ maxMeleeProfSlots > 0 ? "Full!" : "Not available." }}</span><span class="invalid" style="color:brown" v-else>Not Full!</span></h5>
					<ArrayOfBits :obj="$data" prop="profCoreListMelee" :labels="profCoreMeleeListNames" :bitmaskSetObj="char" bitmaskSetProp="profsMelee" :maxLength="maxMeleeProfSlots"  />
				</div>
				<div class="gen-col">
					<h5>Ranged Profeciencies: <span class="valid ready" style="color:green" v-if="$data.profCoreListRanged.length>=maxRangedProfSlots && traceProfCoreRangedCount == maxRangedProfSlots">{{ maxRangedProfSlots > 0 ? "Full!" : "Not available." }}</span><span class="invalid" style="color:brown" v-else>Not Full!</span></h5>
					<ArrayOfBits :obj="$data" prop="profCoreListRanged" :labels="profCoreRangedListNames" :bitmaskSetObj="char" bitmaskSetProp="profsRanged" :maxLength="maxRangedProfSlots"  />
				</div>
			</div>
			<div class="manuever-list gen-col">
				<h5>Superior Manuevers: <span class="valid ready" style="color:green" v-show="char.superiorManueverNotes.length>=maxSuperiorSlots">{{ maxSuperiorSlots > 0 ? "Full!" : "Not available." }}</span><span class="invalid" style="color:brown" v-show="char.superiorManueverNotes.length<maxSuperiorSlots">Not Full!</span></h5>
				<ArrayOf of="String" defaultValue="" :obj="char" prop="superiorManueverNotes"  :maxLength="maxSuperiorSlots"/>
				<h5>Mastery Manuever: <span class="valid ready" style="color:green" v-show="char.masteryManueverNotes.length>=maxMasterySlots">{{ maxMasterySlots > 0 ? "Full!" : "Not available." }}</span><span class="invalid" style="color:brown" v-show="char.masteryManueverNotes.length<maxMasterySlots">Not Full!</span></h5>
				<ArrayOf of="String" defaultValue="" :obj="char" prop="masteryManueverNotes" :maxLength="maxMasterySlots"  />
			</div>
			<div class="talent-list gen-col">
				<h5>Talents: <span class="valid ready" style="color:green" v-show="char.talentNotes.length>=maxTalentSlots">{{maxTalentSlots > 0 ? "Full!" : "Not available." }}</span><span class="invalid" style="color:brown" v-show="char.talentNotes.length<maxTalentSlots">Not Full!</span></h5>
				<ArrayOf of="String" defaultValue="" :obj="char" prop="talentNotes" :maxLength="maxTalentSlots" />
			</div>		
			<div class="school-benefits gen-col" v-if="char.schoolBonuses != null">
				<h5>Benefits: <span class="tag" v-for="li in schoolTags" :key="li">{{li}}</span></h5>
				<SchoolSheetDetails :bonuses="char.schoolBonuses" />
			</div>
			
		</section>
			
		<hr/>
			
		<section class="gen-checkout" ref="checkoutHeader">
			<h2>Checkout <span class="legend valuer">( &#128167;Liquidity&nbsp;&nbsp; &#9650;Bonuses &#10060;Penalties&nbsp;&nbsp; &#9876;School&nbsp;&nbsp; &#10064;Inventory&nbsp;&nbsp; [Remaining] )</span><span class="valid" v-show="notBankrupt" style="color:green"> &nbsp;Ready.</span><span class="invalid" v-show="!notBankrupt" style="color:red"> &nbsp;Bankrupt!</span></h2>
			<div class="checkout">
				<div class="cash">Money Remaining: ({{ moneyAvailableStr }})  + &#128167;({{liquidity}}) + &#9650;({{checkoutBonuses}}) &nbsp; - &#10060;({{checkoutPenalties}}) - &#9876;({{checkoutSchool}}) - &#10064;({{checkoutInventory}}) = [{{ moneyLeftStr }}]</div>
				<div class="carry">Carry: <b :class="{encumbered:encumbered}">{{inventoryWeightLbl}}</b> / <span class="modified-attribute" :class="[CAR==car ?'base' : CAR<car ? 'lower' : 'higher']"><b>{{CAR}}</b></span></div>
			</div>
			<div class="inventory-section">
				<button v-on:click="proceedToInventory()" v-show="!insideInventory">&#10064; Proceed to Inventory &gt;&gt;</button>
			</div>
		</section>
		<hr/>
	</div>
			
	<div class="chargen__footer" v-if="!insideInventory && !char.ingame">
		<section class="arcs">
			<h2>Arcs</h2>
			<div><label>Saga:</label><textarea v-model="char.arcSaga" class="notes"></textarea></div>
			<div><label>Epic:</label><textarea v-model="char.arcEpic" class="notes"></textarea></div>
			<div><label>Belief:</label><textarea v-model="char.arcBelief" class="notes"></textarea></div>
			<div><label>Glory:</label><textarea v-model="char.arcGlory" class="notes"></textarea></div>
			<div><label>Flaw:</label><textarea :disabled="!isHuman" v-model="char.arcFlaw" class="notes"></textarea></div>
		</section>
		<hr/>
		
		<button :disabled="char.ingame" v-on:click="saveFinaliseAll()">Save Character!</button>
	</div>
				
	<div class="chargen__done" v-if="char.ingame">
		<p>Congratulations <b>{{addressedAs}}</b>. Your character has been created. Copy the loadable serialized stream text contents below to clipboard, and paste it somewhere else for saving it manually!</p>
		<div><textarea character-set="UTF-8"  readonly="readonly" ref="savedTextArea" v-model="savedCharContents">
		</textarea><button v-on:click="executeCopyContents()" ref="copyButton">Copy</button><i class="copy-notify" ref="copyNotify" style="display:none">copied!</i></div>
		<div v-if="exitBtnCallback!=null">
			<i>You character's loadable contents is also listed on exit.</i>
		</div>
		<button v-if="exitBtnCallback!=null" v-on:click="exitBtnCallback()">Exit</button>
		
		<hr/>
		Consider pasting the copied serialized data content into a Gingko card,<br/>and storing all your data (for free) in a Gingko tree which {{ exitBtnCallback!=null ? "is" : "will be"}} loadable online by {{exitBtnCallback!=null ? "the" : "an upcoming" }} integrated suite's file browser!<br/>
		(eg. <a href="https://gingkoapp.com/sos-weapons-and-armour" target="_blank">https://gingkoapp.com/sos-weapons-and-armour</a> ).<br/> Create a Gingko account now and {{ exitBtnCallback!=null? "start sharing your creations!" : "prepare your creations to be viewable through combined inventory/character sheets coming your way." }} 
	</div>
	
	<div ref="inventoryHolder">
		<inventory v-if="insideInventory" :backBtnCallback="exitInventory" :inventory="char.inventory" :maxCostCopper="moneyLeft.getCPValue()" :maxWeight="CAR" />	
	</div>
		
	<sweet-modal ref="finaliseWarning">
		<div class="finalise-form finalise-warning">
			<h3>Warning!</h3>
			<p>You may have missed out some things.</p>
			<ul>
				<li v-for="li in warningMsgs" v-show="li.charAt(li.length-1)!='!'">{{li}}</li>
			</ul>
			<button v-on:click="$refs.finaliseWarning.close()">&lt; Back</button>
			<br/><br/>
			<i>You still sure you want to proceed with build?</i><br/>
			<button v-on:click="$refs.finaliseWarning.close(); saveFinaliseAll(true)">Proceed with Build</button>
		</div>
	</sweet-modal>
	<sweet-modal ref="finaliseError">
		<div class="finalise-form finalise-errors">	
			<h3>Invalid!</h3>
			<p>You can't save this character yet and would need to rectify the following:</p>
			<ul>
				<li v-for="li in warningMsgs" v-show="li.charAt(li.length-1)=='!'">{{li}}</li>
			</ul>
			<button v-on:click="$refs.finaliseError.close()">&lt; Back</button>
		</div>
	</sweet-modal>
</div>
