<div>
	<br/>
	<br/>
	<tree-browser :availableTypes="availableTypes" v-on:open="openFromTreeBrowser" v-if="showBrowser" />
	<hr/>
	
	<comp :inventory="tabs[curInventoryIndex].inventory" :inventoryLabel="tabs[curInventoryIndex].tabName" v-on:loadSheet="loadSheet" :loadAvailable="curInventoryIndex==0 && loadAvailable" v-bind="$attrs" :maxCostCopper="curInventoryIndex == 0 ? maxCostCopper : null" :maxWeight="curInventoryIndex == 0 ? maxWeight : null">
		<button class="exit-btn" slot="exitBtn" v-if="backBtnCallback!=null" v-on:click="backBtnCallback()">&lt;&lt; Back</button>
		
		<div class="open-new-tab-zone" slot="loadNewTabZone">
			<div>
				<div class="show-browser-cta"><label><input type="checkbox" v-model="showBrowser"></input>View a Catalog? ^</label></div>
				<textarea class="openbox" character-set="UTF-8" v-model="clipboardContents"></textarea>
				<div><button v-on:click="loadNewTabClick">Load Inventory in New Tab</button><i><br/>(excludes drop zone)</i></div>
			</div>
		</div>
		
		<div v-for="" class="tab-list" slot="tabList">
			<label :class="{selected:curInventoryIndex==i}" v-for="(li, i) in tabs"><input type="radio" v-on:click="curInventoryIndex=i" name="tabname" :checked="curInventoryIndex==i"></input>{{li.tabName}}</label>
			<button class="close-btn" v-show="curInventoryIndex!=0" v-on:click="closeBtnClick">[X] Close</button>
		</div>

	</comp>
</div>