<div class="inventory" v-on:click="onBaseInventoryClick">

	<h2>{{whoseInventoryPrefix}}Inventory</h2>
	
	<div class="tally-zone">
		<div>
			<div class="tallycta"><label><input type="checkbox" v-model="userShowTally"></input><i>Tally?</i></label></div>
		</div>
		<div class="checkout" v-if="showTally">
			<div><b>Tally:</b> <i>(excluding dropped)</i></div>
			<div>Total Cost: <b>{{ totalCostGP }}gp  {{ totalCostSP }}sp {{ totalCostCP }}cp</b></div>
			<div v-if="maxCostCopper!=null" :class="{exceeded:exceededCost}">Max Cost: <b>{{ maxCostGP }}gp  {{ maxCostSP }}sp {{ maxCostCP }}cp</b> ({{moneyLeftStr}} remaining)</div>
			<div>Total Weight: <b>{{ totalWeight }}</b></div>
			<div v-if="maxWeight!=null" :class="{exceeded:exceededWeight}">Max Weight: <b>{{ maxWeight }}</b> ({{weightRemaining}} remaining)</div>
		</div>
		<slot name="exitBtn"></slot>
	</div>	
		
	<div class="manage-multi-zone">
		<slot name="loadNewTabZone"></slot>
		<div class="save-drop-zone">
			<div>
				<div><button v-on:click="saveDropList()">Save Dropped Zone</button></div>
				<textarea class="savebox" character-set="UTF-8" v-model="copyToClipboardDropList"></textarea>
				<div><button v-on:click="loadDropList()">Load Dropped Zone</button></div>
			</div>
		</div>
	</div>	
	<div style="clear:both"></div>	
			
	<sweet-modal ref="overwriteItemWarning">
		<div  v-if="itemToOverwriteWith!=null" v-on:close="closeOverwriteModal()">
			<div>
			The item{{itemToOverwriteWith.qty > 1 ? "s":""}} <b>"{{ itemToOverwriteWith.get_uid()}}"</b><b v-show="itemToOverwriteWith.qty>1">({{itemToOverwriteWith.qty}})</b> you intend to {{ itemToOverwriteToPacked ? "pack" : "drop" }} might be <b>different</b> from existing item(s) already {{  itemToOverwriteToPacked ? "in "+(isYourInventory ? "your" : "the")+" pack" : "on the ground" }} with the same label! Either confirm to overwrite the existing item(s) {{  itemToOverwriteToPacked ? "in "+(isYourInventory ? "your" : "the")+" pack" : "on the ground" }}, or re-name the item to something else before {{  itemToOverwriteToPacked ? "packing" : "dropping" }} it.
			</div>
			<br/>
			<div>
				<div><label><input type="checkbox" v-model="itemToOverwriteWithChecked"></input> <i>Confirm Overwrite?</i></label></div>
				<br/>
				<button slot="button" :disabled="!itemToOverwriteWithChecked" v-on:click="confirmOverwriteItem()">Confirm Overwrite</button>
				<br/>
				<button slot="button" v-on:click="closeOverwriteModal(true)">Cancel</button>
			</div>
		</div>
	</sweet-modal>
			
	<sweet-modal ref="itemQtyMultipleModal" v-on:close="closeMultipleQtyItem()">
		<div v-if="itemQtyMultiple!=null">
			<div>
				How much of <b>{{itemQtyMultiple.get_uid()}}</b><b>({{itemQtyMultipleMax}})</b> do you wish to {{ itemToOverwriteToPacked ? "pack" : "drop" }}?
			</div>
			<br/>
			<div>
				<InputInt :obj="itemQtyMultiple" prop="qty" :min="1" :max="itemQtyMultipleMax" />
			</div>
			<br/>
			<button slot="button" v-on:click="confirmQtyMultipleSend()">Confirm</button>
			<button slot="button" v-on:click="closeMultipleQtyItem(true)">Cancel</button>
		</div>
	</sweet-modal>
	
	
	<h4>Dropped:</h4>
	<table border="1">
		<thead>
			<tr>
				<td>Item Name</td>
				<td class="qty">Qty</td>
				<td class="weight">Weight</td>
				<td class="munition-type">Type</td>
				<td class="actions"><i>Actions</i></td>
			</tr>
		</thead>
		<tbody :name="itemTransitionName" is="transition-group" v-on:mousedown.native="setCurWidgetSection('dropped', $event)" v-on:touchstart.native="setCurWidgetSection('dropped', $event)">
			
			<tr v-for="(entry,i) in inventory.dropped.list" :key="entry.item.get_uid()">
				<td><input-name-qty :itemQty="entry" v-on:updated="onInputNameUpdated" :customValidateName="validateQtyNameDropped" /></td>
				<td><InputInt :obj="entry" prop="qty" :min="1"></InputInt></td>
				<td><InputNumber :floating="true" :step="0.5" :obj="entry.item" prop="weight" :min="0"></InputNumber></td>
				<td>{{ entry.item.getTypeLabel() }}</td>
				<td>
					<a href="javascript:;" v-on:click="packItemEntryFromGround(entry)">Pack</a>
					<a href="javascript:;" v-on:click="inventory.equipItemEntryFromGround(entry)">Equip</a>
					<a href="javascript:;" v-on:click="inventory.deleteDropped(entry)">Delete</a>
				</td>
			</tr>
			
			
			<tr class="entry-row" :key="-1">
				<td><input type="text" v-model="droppedEntry.e.item.name" required v-on:focus="focusInRowField(droppedEntry, 1)" v-on:blur="focusOutRowField(droppedEntry, 1)"></input></td>
				<td><InputInt :obj="droppedEntry.e" prop="qty" :min="1" v-on:focus.native="focusInRowField(droppedEntry, 2)" v-on:blur.native="focusOutRowField(droppedEntry, 2)"></InputInt></td>
				<td><InputNumber :step="0.5" :obj="droppedEntry.e" prop="weight" :min="0" v-on:focus.native="focusInRowField(droppedEntry, 4)" v-on:blur.native="focusOutRowField(droppedEntry, 4)"></InputNumber></td>
				<td>
					MiscItem
				</td>
				
			</tr>
		
			
		</tbody>
	</table>
	
	<hr/>
				
	<slot name="tabList"></slot>
			
	<h4>Packed: <label style="font-size:10px">Drop?<input type="checkbox" v-model="inventory.dropPack"></input></label></h4>				
	
	
	<table border="1" style="display:inline-block">
		<thead>
			<tr>
				<td>Item Name</td>
				<td class="qty">Qty</td>
				<td class="weight">Weight</td>
				<td class="munition-type">Type</td>
				<td class="actions"><i>Actions</i></td>
			</tr>
		</thead>
		<tbody :name="itemTransitionName" is="transition-group" v-on:mousedown.native="setCurWidgetSection('packed', $event)" v-on:touchstart.native="setCurWidgetSection('packed', $event)">
			<tr v-for="(entry,i) in inventory.packed.list" :key="entry.item.get_uid()">
				<td><input-name-qty :itemQty="entry" v-on:updated="onInputNameUpdated" :customValidateName="validateQtyNamePacked" /></td>
				<td><InputInt :obj="entry" prop="qty" :min="1"></InputInt></td>
				<td><InputNumber :floating="true" :step="0.5" :obj="entry.item" prop="weight" :min="0"></InputNumber></td>
				<td>{{ entry.item.getTypeLabel() }}</td>

				<td>
					<a href="javascript:;" v-on:click="dropItemEntryFromPack(entry)">Drop</a>
					<a href="javascript:;" v-on:click="inventory.equipItemEntryFromPack(entry)">Equip</a>
					<a href="javascript:;" v-on:click="inventory.deletePacked(entry)">Delete</a>
				</td>
			</tr>
			<tr class="entry-row" :key="-1">
				<td><input type="text" v-model="packedEntry.e.item.name" required v-on:focus="focusInRowField(packedEntry, 1)" v-on:blur="focusOutRowField(packedEntry, 1)"></input></td>
				<td><InputInt :obj="packedEntry.e" prop="qty" :min="1" v-on:focus.native="focusInRowField(packedEntry, 2)" v-on:blur.native="focusOutRowField(packedEntry, 2)"></InputInt></td>
				<td><InputNumber :step="0.5" :obj="packedEntry.e" prop="weight" :min="0" v-on:focus.native="focusInRowField(packedEntry, 4)" v-on:blur.native="focusOutRowField(packedEntry, 4)"></InputNumber></td>
				<td>MiscItem</td>
			</tr>
		</tbody>
	</table>
				
	<h3>Equipment details</h3>
	
	
	<h4>Shields:</h4>
	<table border="1">
		<thead>
			<tr>
				<td style="width:155px">Shield Name</td>
				<td style="width:35px">AV</td>
				<td style="width:35px">Block</td>
				<td style="width:45px">Weight</td>
				<td style="width:67px">Size</td>
				<td class="tags">Tags</td>
				<td style="width:130px">Kept at?</td>
				<td class="held">Held?</td>
				<td class="actions"><i>Actions</i></td>
			</tr>
		</thead>
		<tbody :name="itemTransitionName" is="transition-group" v-on:mousedown.native="setCurWidgetSection('shield',$event)" v-on:touchstart.native="setCurWidgetSection('shield',$event)">
			<tr :key="entry.key" v-for="(entry,i) in inventory.shields">
				<td><input-name :item="entry.shield" v-on:updated="onInputNameUpdated" /></td>
				<td><InputInt :obj="entry.shield" prop="AV" :min="1"></InputInt></td>
				<td><InputInt :obj="entry.shield" prop="blockTN" :min="0"></InputInt></td>
				<td><InputNumber :step="0.5" :obj="entry.shield" prop="weight" :min="0"></InputNumber></td>
				<td>
					<select number v-model.number="entry.shield.size ">
						<option :value="0">Small</option>
						<option :value="1">Medium</option>
						<option :value="2">Large</option>
					</select>
				</td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="tags" widgetTagName="w-tags" :value="getTags(entry.shield)" :index="i" :showWidget="isVisibleWidget('shield','tags', i)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td-unheld :entry="entry" :requestCurWidget="requestCurWidget" :index="i" :showWidget="isVisibleWidget('shield', 'td-unheld', i)" />
				<td>
					<select-held :entry="entry" :inventory="inventory" />
				</td>
				<td>
					<a href="javascript:;" v-on:click="packEquipedShield(entry)">Pack</a>
					<a href="javascript:;" v-on:click="dropEquipedShield(entry)">Drop</a>
					<a href="javascript:;" v-on:click="dropEquipedShield(entry, true)">Delete</a>
				</td>
			</tr>
			<tr class="entry-row" :key="-1">
				<td><input type="text" v-on:focus="focusInRowField(shieldEntry, 1)" v-on:blur="focusOutRowField(shieldEntry, 1)" v-model="shieldEntry.e.shield.name" required></input></td>
				<td><InputInt v-on:focus.native="focusInRowField(shieldEntry, 2)" v-on:blur.native="focusOutRowField(shieldEntry, 2)" :obj="shieldEntry.e.shield" prop="AV" :min="1"></InputInt></td>
				<td><InputInt v-on:focus.native="focusInRowField(shieldEntry, 4)" v-on:blur.native="focusOutRowField(shieldEntry, 4)" :obj="shieldEntry.e.shield" prop="blockTN" :min="0"></InputInt></td>
				<td><InputInt v-on:focus.native="focusInRowField(shieldEntry, 8)" v-on:blur.native="focusOutRowField(shieldEntry, 8)" :obj="shieldEntry.e.shield" prop="weight" :min="0"></InputInt></td>
				<td>
					<select v-model.number="shieldEntry.e.shield.size" v-on:focus="focusInRowField(shieldEntry, 16)" v-on:blur="focusOutRowField(shieldEntry, 16)">
						<option :value="0">Small</option>
						<option :value="1">Medium</option>
						<option :value="2">Large</option>
					</select>
				</td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="tags" widgetTagName="w-tags" :value="getTags(shieldEntry.e.shield)" :index="-1" :showWidget="(shieldEntry.focusedFlags & (32|(1<<21))) !=0" :entry="shieldEntry.e" :requestCurWidget="requestCurWidget"
				v-on:focus-in-row="focusInRowField(shieldEntry, 32)" v-on:focus-out-row="focusOutRowField(shieldEntry, 32)" v-on:focus-widget="focusInRowField(shieldEntry, (1<<21))" />
				<td><input type="text" v-model="shieldEntry.e.unheldRemark" v-on:focus="focusInRowField(shieldEntry,64)" v-on:blur="focusOutRowField(shieldEntry,64)"></input></td>	
				
			</tr>
		</tbody>
	</table>
	
	<h4>Munitions:</h4>
	<table border="1">
		<thead>
			<tr>
				<td>Melee Weap name</td>
				<td class="munition-type">Type</td>
				<td class="hands">Hands</td>
				<td class="reach">Reach</td>
				<td style="width:65px">Swing</td>
				<td style="width:65px">Thrust</td>
				<td style="width:35px">DTN(G)</td>
				<td class="tags">Tags</td>
				<td class="weight">Weight</td>
				<td class="keptat">Kept at?</td>
				<td class="held">Held?</td>
				<td class="actions"><i>Actions</i></td>
			</tr>
		</thead>
		<tbody :name="itemTransitionName" is="transition-group" v-on:mousedown.native="setCurWidgetSection('meleeWeap', $event)" v-on:touchstart.native="setCurWidgetSection('meleeWeap', $event)">
			<tr v-for="(entry,itemIndex) in filteredMelee" :key="entry.key">
				<td><input-name :item="entry.weapon" v-on:updated="onInputNameUpdated" /></td>
				<td-prof :curWidgetRequest="curWidgetRequest" :isVisibleWidget="isVisibleWidget" :weapon="entry.weapon" section="meleeWeap" :index="itemIndex"  :meleeProfs="coreMeleeProfs" :rangedProfs="coreRangedProfs"  />
				<td-hands :entry="entry" />
				<td>
					<select number v-model.number="entry.weapon.reach">
						<option :value="1">HA</option>
						<option :value="2">H</option>
						<option :value="3">S</option>
						<option :value="4">M</option>
						<option :value="5">L</option>
						<option :value="6">VL</option>
						<option :value="7">EL</option>
						<option :value="8">LL</option>
					</select>
				</td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="melee-atk" widgetTagName="w-melee-atk" :widgetProps="{thrusting:false}" :value="getSwingAtkStr(entry.weapon)" :index="itemIndex" :showWidget="isVisibleWidget('meleeWeap','melee-atk', itemIndex)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="melee-atk2" widgetTagName="w-melee-atk" :widgetProps="{thrusting:true}" :value="getThrustAtkStr(entry.weapon)" :index="itemIndex" :showWidget="isVisibleWidget('meleeWeap','melee-atk2', itemIndex)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="melee-def" widgetTagName="w-melee-def" :value="getDefGuard(entry.weapon)" :index="itemIndex" :showWidget="isVisibleWidget('meleeWeap','melee-def', itemIndex)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="tags" widgetTagName="w-tags" :value="getTags(entry.weapon)" :index="itemIndex" :showWidget="isVisibleWidget('meleeWeap','tags', itemIndex)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td><InputNumber :min="0" :step="0.5" :obj="entry.weapon" prop="weight"></InputNumber></td>
				<td-unheld :entry="entry" :requestCurWidget="requestCurWidget" :index="itemIndex" :showWidget="isVisibleWidget('meleeWeap', 'td-unheld', itemIndex)" />
				<td>
					<select-held :entry="entry" :inventory="inventory" />
				</td>
				<td>
					<a href="javascript:;" v-on:click="packEquipedWeapon(entry)">Pack</a>
					<a href="javascript:;" v-on:click="dropEquipedWeapon(entry)">Drop</a>
					<a href="javascript:;" v-on:click="dropEquipedWeapon(entry, true)">Delete</a>
				</td>
			</tr>
			<tr class="entry-row" v-if="weaponEntry.e.weapon.isMelee()" :key="-1">
				<td><input type="text" v-model="weaponEntry.e.weapon.name" v-on:focus="focusInRowField(weaponEntry,1)" v-on:blur="focusOutRowField(weaponEntry,1)"></input></td>
				<td-prof :curWidgetRequest="curWidgetRequest" :isVisibleWidget="isVisibleWidget" :entry="weaponEntry.e" :weapon="weaponEntry.e.weapon" section="meleeWeap" :index="-1" v-on:focus-widget="focusInRowField(weaponEntry,(1<<20))" v-on:focus-in-row="focusInRowField(weaponEntry, 2)" v-on:focus-out-row="focusOutRowField(weaponEntry,2)" :meleeProfs="coreMeleeProfs" :rangedProfs="coreRangedProfs"  />
				<td-hands :entry="weaponEntry.e"  v-on:focus-in-row="focusInRowField(weaponEntry, 4)" v-on:focus-out-row="focusOutRowField(weaponEntry,4)" />
				<td>
					<select number v-model.number="weaponEntry.e.weapon.reach"  v-on:focus="focusInRowField(weaponEntry,8)" v-on:blur="focusOutRowField(weaponEntry,8)">
						<option value="1">HA</option>
						<option value="2">H</option>
						<option value="3">S</option>
						<option value="4">M</option>
						<option value="5">L</option>
						<option value="6">VL</option>
						<option value="7">EL</option>
						<option value="8">LL</option>
					</select>
				</td>	
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="melee-atk" widgetTagName="w-melee-atk" :widgetProps="{thrusting:false}" :value="getSwingAtkStr(weaponEntry.e.weapon)" :index="-1" :showWidget="(weaponEntry.focusedFlags & (16|(1<<21))) !=0" :entry="weaponEntry.e" :requestCurWidget="requestCurWidget" v-on:focus-widget="focusInRowField(weaponEntry,(1<<21))" v-on:focus-in-row="focusInRowField(weaponEntry,16)" v-on:focus-out-row="focusOutRowField(weaponEntry,16)" />
					
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="melee-atk2" widgetTagName="w-melee-atk" :widgetProps="{thrusting:true}" :value="getThrustAtkStr(weaponEntry.e.weapon)" :index="-1" :showWidget="(weaponEntry.focusedFlags & (32|(1<<22))) !=0" :entry="weaponEntry.e" :requestCurWidget="requestCurWidget"  v-on:focus-widget="focusInRowField(weaponEntry,(1<<22))" v-on:focus-in-row="focusInRowField(weaponEntry,32)" v-on:focus-out-row="focusOutRowField(weaponEntry,32)" />	
					
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="melee-def" widgetTagName="w-melee-def" :value="getDefGuard(weaponEntry.e.weapon)" :index="-1" :showWidget="(weaponEntry.focusedFlags & (64|(1<<23))) !=0" :entry="weaponEntry.e" :requestCurWidget="requestCurWidget" v-on:focus-widget="focusInRowField(weaponEntry,(1<<23))" v-on:focus-in-row="focusInRowField(weaponEntry,64)" v-on:focus-out-row="focusOutRowField(weaponEntry,64)" />
					
					<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="tags" widgetTagName="w-tags" :value="getTags(weaponEntry.e.weapon)" :index="-1" :showWidget="(weaponEntry.focusedFlags & (128|(1<<24))) !=0" :entry="weaponEntry.e" :requestCurWidget="requestCurWidget" v-on:focus-widget="focusInRowField(weaponEntry,(1<<24))" v-on:focus-in-row="focusInRowField(weaponEntry,128)" v-on:focus-out-row="focusOutRowField(weaponEntry,128)" />
						
				<td><InputNumber :min="0" :step="0.5" :obj="weaponEntry.e.weapon" prop="weight" v-on:focus.native="focusInRowField(weaponEntry,256)" v-on:blur.native="focusOutRowField(weaponEntry,256)"></InputNumber></td>
				<td><input type="text" v-model="weaponEntry.e.unheldRemark"v-on:focus="focusInRowField(weaponEntry,512)" v-on:blur="focusOutRowField(weaponEntry,512)"></input></td>
			</tr>
		</tbody>
		<thead v-on:mousedown="setCurWidgetSection('bowheader', $event)" v-on:touchstart="setCurWidgetSection('bowheader', $event)">
			<tr>
				<td>Bow name</td>
				<td class="munition-type">Type</td>
				<td class="hands">Hands</td>
				<td>Range</td>
				<td>TN(dmg)</td>
				<td>Req STR</td>
				<td class="voidna focus gotbtn w-holder w-ammo-spawner" v-on:click.stop="">
					<button v-on:click="requestCurWidget('ammo-spawner',-1)">&#8610;</button>
					<div class="pop-widget"  v-if="isVisibleWidget('bowheader', 'ammo-spawner', -1)">
						<w-ammo-spawner :mask="bowSlingAndCrossbowMask" :addAmmo="addAmmo" />
					</div>
				</td>
				<td class="tags">Tags</td>
				<td class="weight">Weight</td>
				<td class="keptat">Kept at?</td>
				<td class="held">Held?</td>
				<td class="actions"><i>Actions</i></td>
			</tr>
		</thead>
		<tbody :name="itemTransitionName" is="transition-group" v-on:mousedown.native="setCurWidgetSection('bow', $event)" v-on:touchstart.native="setCurWidgetSection('bow', $event)">
			<tr v-for="(entry, itemIndex) in filteredBow" :key="entry.key">
				<td><input-name :item="entry.weapon" v-on:updated="onInputNameUpdated" /></td>
				<td-prof :curWidgetRequest="curWidgetRequest" :isVisibleWidget="isVisibleWidget" :entry="entry" :weapon="entry.weapon" section="bow" :index="itemIndex"  :meleeProfs="coreMeleeProfs" :rangedProfs="coreRangedProfs" :profMask="bowMask" />
				<td-hands :entry="entry" />
				<td><InputInt :obj="entry.weapon" prop="range" /></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="missile-atk" widgetTagName="w-missile-atk" :value="getMissileAtkStr(entry.weapon)" :index="itemIndex" :showWidget="isVisibleWidget('bow','missile-atk', itemIndex)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td><InputInt :obj="entry.weapon" prop="requiredStr"></InputInt></td>
				<td class="voidna"></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="tags" widgetTagName="w-tags" :value="getTags(entry.weapon)" :index="itemIndex" :showWidget="isVisibleWidget('bow','tags', itemIndex)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td><InputNumber :min="0" :step="0.5" :obj="entry.weapon" prop="weight"></InputNumber></td>
				<td-unheld :entry="entry" :requestCurWidget="requestCurWidget" :index="itemIndex" :showWidget="isVisibleWidget('bow', 'td-unheld', itemIndex)" />
				<td>
					<select-held :entry="entry" :inventory="inventory" />
				</td>
				<td>
					<a href="javascript:;" v-on:click="packEquipedWeapon(entry)">Pack</a>
					<a href="javascript:;" v-on:click="dropEquipedWeapon(entry)">Drop</a>
					<a href="javascript:;" v-on:click="dropEquipedWeapon(entry, true)">Delete</a>
				</td>
			</tr>
			<tr class="entry-row" v-if="weaponEntry.e.weapon.isBow()" :key="-2">
				<td><input type="text" v-model="weaponEntry.e.weapon.name" v-on:focus="focusInRowField(weaponEntry,1)" v-on:blur="focusOutRowField(weaponEntry,1)"></input></td>
				<td-prof :curWidgetRequest="curWidgetRequest" :isVisibleWidget="isVisibleWidget" :weapon="weaponEntry.e.weapon" section="bow" :index="-1" v-on:focus-widget="focusInRowField(weaponEntry,(1<<20))" v-on:focus-in-row="focusInRowField(weaponEntry, 2)" v-on:focus-out-row="focusOutRowField(weaponEntry,2)" :meleeProfs="coreMeleeProfs" :rangedProfs="coreRangedProfs" :profMask="bowMask" />
				<td-hands :entry="weaponEntry.e"  v-on:focus-in-row="focusInRowField(weaponEntry, 4)" v-on:focus-out-row="focusOutRowField(weaponEntry, 4)" />
				<td><InputInt :min="0" :obj="weaponEntry.e.weapon" prop="range" v-on:focus.native="focusInRowField(weaponEntry,8)" v-on:blur.native="focusOutRowField(weaponEntry,8)"  /></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="missile-atk" widgetTagName="w-missile-atk" :value="getMissileAtkStr(weaponEntry.e.weapon)" :index="-1" :showWidget="(weaponEntry.focusedFlags & (16|(1<<21))) !=0" :entry="weaponEntry.e" :requestCurWidget="requestCurWidget" v-on:focus-widget="focusInRowField(weaponEntry,(1<<21))" v-on:focus-in-row="focusInRowField(weaponEntry,16)" v-on:focus-out-row="focusOutRowField(weaponEntry,16)" />
				<td><InputInt :step="1" :obj="weaponEntry.e.weapon" prop="requiredStr" v-on:focus.native="focusInRowField(weaponEntry,32)" v-on:blur.native="focusOutRowField(weaponEntry,32)"></InputInt></td>
				<td class="voidna"></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="tags" widgetTagName="w-tags" :value="getTags(weaponEntry.e.weapon)" :index="-1" :showWidget="(weaponEntry.focusedFlags & (128|(1<<24))) !=0" :entry="weaponEntry.e" :requestCurWidget="requestCurWidget" v-on:focus-widget="focusInRowField(weaponEntry,(1<<24))" v-on:focus-in-row="focusInRowField(weaponEntry,128)" v-on:focus-out-row="focusOutRowField(weaponEntry,128)" />
				<td><InputNumber :min="0" :step="0.5" :obj="weaponEntry.e.weapon" prop="weight" v-on:focus.native="focusInRowField(weaponEntry,256)" v-on:blur.native="focusOutRowField(weaponEntry,256)"></InputNumber></td>
				<td><input type="text" v-model="weaponEntry.e.unheldRemark"v-on:focus="focusInRowField(weaponEntry,512)" v-on:blur="focusOutRowField(weaponEntry,512)"></input></td>
			</tr>
		</tbody>
		<thead>
			<tr>
				<td>Crossbow name</td>
				<td class="munition-type">Type</td>
				<td class="hands">Hands</td>
				<td>Range</td>
				<td>TN(dmg)</td>
				<td>Span</td>
				<td>SpanTool</td>
				<td class="tags">Tags</td>
				<td class="weight">Weight</td>
				<td class="keptat">Kept at?</td>
				<td class="held">Held?</td>
				<td class="actions"><i>Actions</i></td>
			</tr>
		</thead>
		<tbody :name="itemTransitionName" is="transition-group" v-on:mousedown.native="setCurWidgetSection('crossbow', $event)" v-on:touchstart.native="setCurWidgetSection('crossbow', $event)">
			<tr v-for="(entry, itemIndex) in filteredCrossbow" :key="entry.key">
				<td><input-name :item="entry.weapon" v-on:updated="onInputNameUpdated" /></td>
				<td-prof :curWidgetRequest="curWidgetRequest" :isVisibleWidget="isVisibleWidget" :entry="entry" :weapon="entry.weapon" section="crossbow" :index="itemIndex"  :meleeProfs="coreMeleeProfs" :rangedProfs="coreRangedProfs" :profMask="crossbowMask" />
				<td-hands :entry="entry" />
				<td><InputInt :min="0" :obj="entry.weapon" prop="range" /></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="missile-atk" widgetTagName="w-missile-atk" :value="getMissileAtkStr(entry.weapon)" :index="itemIndex" :showWidget="isVisibleWidget('crossbow','missile-atk', itemIndex)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td><InputInt :min="0" :obj="entry.weapon.crossbow" prop="span"></InputInt></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="span-tools" widgetTagName="w-span-tools" :value="getSpanTools(entry.weapon.crossbow)" :index="itemIndex" :showWidget="isVisibleWidget('crossbow','span-tools', itemIndex)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="tags" widgetTagName="w-tags" :value="getTags(entry.weapon)" :index="itemIndex" :showWidget="isVisibleWidget('crossbow','tags', itemIndex)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td><InputNumber :min="0" :step="0.5" :obj="entry.weapon" prop="weight"></InputNumber></td>
				<td-unheld :entry="entry" :requestCurWidget="requestCurWidget" :index="itemIndex" :showWidget="isVisibleWidget('crossbow', 'td-unheld', itemIndex)" />
				<td>
					<select-held :entry="entry" :inventory="inventory" />
				</td>
				<td>
					<a href="javascript:;" v-on:click="packEquipedWeapon(entry)">Pack</a>
					<a href="javascript:;" v-on:click="dropEquipedWeapon(entry)">Drop</a>
					<a href="javascript:;" v-on:click="dropEquipedWeapon(entry, true)">Delete</a>
				</td>
			</tr>
			<tr class="entry-row" :key="-3" v-if="weaponEntry.e.weapon.isCrossbow()">
				<td><input type="text" v-model="weaponEntry.e.weapon.name" v-on:focus="focusInRowField(weaponEntry,1)" v-on:blur="focusOutRowField(weaponEntry,1)"></input></td>
				<td-prof :curWidgetRequest="curWidgetRequest" :isVisibleWidget="isVisibleWidget" :entry="weaponEntry.e" :weapon="weaponEntry.e.weapon" section="crossbow" :index="-1" v-on:focus-widget="focusInRowField(weaponEntry,(1<<20))" v-on:focus-in-row="focusInRowField(weaponEntry, 2)" v-on:focus-out-row="focusOutRowField(weaponEntry,2)" :meleeProfs="coreMeleeProfs" :rangedProfs="coreRangedProfs" :profMask="crossbowMask" />
				<td-hands :entry="weaponEntry.e" v-on:focus-in-row="focusInRowField(weaponEntry, 4)" v-on:focus-out-row="focusOutRowField(weaponEntry,4)" />	
				<td><InputInt :min="0" :obj="weaponEntry.e.weapon" prop="range" v-on:focus.native="focusInRowField(weaponEntry,8)" v-on:blur.native="focusOutRowField(weaponEntry,8)"  /></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="missile-atk" widgetTagName="w-missile-atk" :value="getMissileAtkStr(weaponEntry.e.weapon)" :index="-1" :showWidget="(weaponEntry.focusedFlags & (16|(1<<21))) !=0" :entry="weaponEntry.e" :requestCurWidget="requestCurWidget" v-on:focus-widget="focusInRowField(weaponEntry,(1<<21))" v-on:focus-in-row="focusInRowField(weaponEntry,16)" v-on:focus-out-row="focusOutRowField(weaponEntry,16)" />
				<td><InputInt :min="0" :obj="weaponEntry.e.weapon.crossbow" prop="span"  v-on:focus.native="focusInRowField(weaponEntry,32)" v-on:blur.native="focusOutRowField(weaponEntry,32)"></InputInt></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="span-tools" widgetTagName="w-span-tools" :value="getSpanTools(weaponEntry.e.weapon.crossbow)" :index="-1" :showWidget="(weaponEntry.focusedFlags & (64|(1<<22))) !=0" :entry="weaponEntry.e" :requestCurWidget="requestCurWidget" v-on:focus-widget="focusInRowField(weaponEntry,(1<<22))" v-on:focus-in-row="focusInRowField(weaponEntry,64)" v-on:focus-out-row="focusOutRowField(weaponEntry,64)" />	
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="tags" widgetTagName="w-tags" :value="getTags(weaponEntry.e.weapon)" :index="-1" :showWidget="(weaponEntry.focusedFlags & (128|(1<<24))) !=0" :entry="weaponEntry.e" :requestCurWidget="requestCurWidget" v-on:focus-widget="focusInRowField(weaponEntry,(1<<24))" v-on:focus-in-row="focusInRowField(weaponEntry,128)" v-on:focus-out-row="focusOutRowField(weaponEntry,128)" />
				<td><InputNumber :min="0" :step="0.5" :obj="weaponEntry.e.weapon" prop="weight" v-on:focus.native="focusInRowField(weaponEntry,256)" v-on:blur.native="focusOutRowField(weaponEntry,256)"></InputNumber></td>
				<td><input type="text" v-model="weaponEntry.e.unheldRemark"v-on:focus="focusInRowField(weaponEntry,512)" v-on:blur="focusOutRowField(weaponEntry,512)"></input></td>
			</tr>
		</tbody>
		<thead v-on:mousedown="setCurWidgetSection('firearmheader', $event)" v-on:touchstart="setCurWidgetSection('firearmheader', $event)">
			<tr>
				<td>Firearm name</td>
				<td class="munition-type">Type</td>
				<td class="hands">Hands</td>
				<td>Range</td>
				<td>TN(dmg)</td>
				<td>Load</td>
				<td class="w-holder w-ammo-spawner" v-on:click.stop="">
					<a href="javascript:;" v-on:click="requestCurWidget('ammo-spawner',-1)">Ammunition</a>
					<div class="pop-widget"  v-if="isVisibleWidget('firearmheader', 'ammo-spawner', -1)">
						<w-ammo-spawner :mask="firearmMask" :addAmmo="addAmmo" />
					</div>
				</td>
				<td class="tags">Tags</td>
				<td class="weight">Weight</td>
				<td class="keptat">Kept at?</td>
				<td class="held">Held?</td>
				<td class="actions"><i>Actions</i></td>
			</tr>
		</thead>
		<tbody :name="itemTransitionName" is="transition-group" v-on:mousedown.native="setCurWidgetSection('firearm', $event)" v-on:touchstart.native="setCurWidgetSection('firearm', $event)">
			<tr v-for="(entry, itemIndex) in filteredFirearm" :key="entry.key">
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="firearm-name" widgetTagName="w-firearm-name" :value="entry.weapon.get_label()" :index="itemIndex" :showWidget="isVisibleWidget('firearm','firearm-name', itemIndex)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td-prof :curWidgetRequest="curWidgetRequest" :isVisibleWidget="isVisibleWidget"  :entry="entry" :weapon="entry.weapon" section="firearm" :index="itemIndex"  :meleeProfs="coreMeleeProfs" :rangedProfs="coreRangedProfs" :profMask="firearmMask"  />
				<td-hands :entry="entry" />
				<td><InputInt :step="1" :min="0" :obj="entry.weapon" prop="range" /></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="missile-atk" widgetTagName="w-missile-atk" :value="getMissileAtkStr(entry.weapon)" :index="itemIndex" :showWidget="isVisibleWidget('firearm','missile-atk', itemIndex)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td><InputInt :min="0" :obj="entry.weapon.firearm" prop="load"></InputInt></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="ammunition" widgetTagName="w-ammunition" :value="getAmmunitions(entry.weapon.firearm)" :index="itemIndex" :showWidget="isVisibleWidget('firearm','ammunition', itemIndex)" :entry="entry" :requestCurWidget="requestCurWidget" :addAmmo="addAmmo" />
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="tags" widgetTagName="w-tags" :value="getTags(entry.weapon)" :index="itemIndex" :showWidget="isVisibleWidget('firearm','tags', itemIndex)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td><InputNumber :min="0" :step="0.5" :obj="entry.weapon" prop="weight"></InputNumber></td>
				<td-unheld :entry="entry" :requestCurWidget="requestCurWidget" :index="itemIndex" :showWidget="isVisibleWidget('firearm', 'td-unheld', itemIndex)" />
				<td>
					<select-held :entry="entry" :inventory="inventory" />
				</td>
				<td>
					<a href="javascript:;" v-on:click="packEquipedWeapon(entry)">Pack</a>
					<a href="javascript:;" v-on:click="dropEquipedWeapon(entry)">Drop</a>
					<a href="javascript:;" v-on:click="dropEquipedWeapon(entry, true)">Delete</a>
				</td>
			</tr>
			<tr class="entry-row" :key="-4" v-if="weaponEntry.e.weapon.isFirearm()">
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="firearm-name" widgetTagName="w-firearm-name" :value="weaponEntry.e.weapon.get_label()" :index="-1" :showWidget="(weaponEntry.focusedFlags & (1|(1<<25))) !=0" :entry="weaponEntry.e" :requestCurWidget="requestCurWidget" v-on:focus-widget="focusInRowField(weaponEntry,(1<<25))" v-on:focus-in-row="focusInRowField(weaponEntry,1)" v-on:focus-out-row="focusOutRowField(weaponEntry,1)" />
					
				<td-prof :curWidgetRequest="curWidgetRequest" :isVisibleWidget="isVisibleWidget" :entry="weaponEntry.e" :weapon="weaponEntry.e.weapon" section="firearm" :index="-1" v-on:focus-widget="focusInRowField(weaponEntry,(1<<20))" v-on:focus-in-row="focusInRowField(weaponEntry, 2)" v-on:focus-out-row="focusOutRowField(weaponEntry,2)" :meleeProfs="coreMeleeProfs" :rangedProfs="coreRangedProfs" :profMask="firearmMask" />
				<td-hands :entry="weaponEntry.e" v-on:focus-in-row="focusInRowField(weaponEntry, 4)" v-on:focus-out-row="focusOutRowField(weaponEntry,4)" />
				<td><InputInt :min="0" :obj="weaponEntry.e.weapon" prop="range" v-on:focus.native="focusInRowField(weaponEntry,8)" v-on:blur.native="focusOutRowField(weaponEntry,8)"  /></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="missile-atk" widgetTagName="w-missile-atk" :value="getMissileAtkStr(weaponEntry.e.weapon)" :index="-1" :showWidget="(weaponEntry.focusedFlags & (16|(1<<21))) !=0" :entry="weaponEntry.e" :requestCurWidget="requestCurWidget" v-on:focus-widget="focusInRowField(weaponEntry,(1<<21))" v-on:focus-in-row="focusInRowField(weaponEntry,16)" v-on:focus-out-row="focusOutRowField(weaponEntry,16)" />	
				<td><InputInt :obj="weaponEntry.e.weapon.firearm" prop="load" v-on:focus.native="focusInRowField(weaponEntry,32)" v-on:blur.native="focusOutRowField(weaponEntry,32)"></InputInt></td>
					
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="ammunition" widgetTagName="w-ammunition" :value="getAmmunitions(weaponEntry.e.weapon.firearm)" :index="-1" :showWidget="(weaponEntry.focusedFlags & (64|(1<<22))) !=0" :entry="weaponEntry.e" :requestCurWidget="requestCurWidget" v-on:focus-widget="focusInRowField(weaponEntry,(1<<22))" v-on:focus-in-row="focusInRowField(weaponEntry,64)" v-on:focus-out-row="focusOutRowField(weaponEntry,64)" :addAmmo="addAmmo" />	
					
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="tags" widgetTagName="w-tags" :value="getTags(weaponEntry.e.weapon)" :index="-1" :showWidget="(weaponEntry.focusedFlags & (128|(1<<24))) !=0" :entry="weaponEntry.e" :requestCurWidget="requestCurWidget" v-on:focus-widget="focusInRowField(weaponEntry,(1<<24))" v-on:focus-in-row="focusInRowField(weaponEntry,128)" v-on:focus-out-row="focusOutRowField(weaponEntry,128)" />
				<td><InputNumber :min="0" :step="0.5" :obj="weaponEntry.e.weapon" prop="weight" v-on:focus.native="focusInRowField(weaponEntry,256)" v-on:blur.native="focusOutRowField(weaponEntry,256)"></InputNumber></td>
				<td><input type="text" v-model="weaponEntry.e.unheldRemark"v-on:focus="focusInRowField(weaponEntry,512)" v-on:blur="focusOutRowField(weaponEntry,512)"></input></td>
			</tr>
		</tbody>
		<thead>
			<tr>
				<td>Throwing/Sling name</td>
				<td class="munition-type">Type</td>
				<td class="hands">Hands</td>
				<td>Range</td>
				<td>TN(dmg)</td>
				<td class="d10">Stuck</td>
				<td class="voidna"></td>
				<td class="tags">Tags</td>
				<td class="weight">Weight</td>
				<td class="keptat">Kept at?</td>
				<td class="held">Held?</td>
				<td class="actions"><i>Actions</i></td>
			</tr>
		</thead>
		<tbody :name="itemTransitionName" is="transition-group" v-on:mousedown.native="setCurWidgetSection('throwing', $event)" v-on:touchstart.native="setCurWidgetSection('throwing', $event)">
			<tr v-for="(entry, itemIndex) in filteredThrowing" :key="entry.key">
				<td><input-name :item="entry.weapon" v-on:updated="onInputNameUpdated" /></td>
				<td-prof :curWidgetRequest="curWidgetRequest" :isVisibleWidget="isVisibleWidget" :weapon="entry.weapon" section="throwing" :index="itemIndex"  :meleeProfs="coreMeleeProfs" :rangedProfs="coreRangedProfs" :profMask="throwMask" />
				<td-hands :entry="entry" />
				<td><InputInt :obj="entry.weapon" prop="range" /></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="missile-atk" widgetTagName="w-missile-atk" :value="getMissileAtkStr(entry.weapon)" :index="itemIndex" :showWidget="isVisibleWidget('throwing','missile-atk', itemIndex)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td><InputInt :min="0" :max="10" :obj="entry.weapon" prop="stuckChance"></InputInt></td>
				<td class="voidna"></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="tags" widgetTagName="w-tags" :value="getTags(entry.weapon)" :index="itemIndex" :showWidget="isVisibleWidget('throwing','tags', itemIndex)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td><InputNumber :min="0" :step="0.5" :obj="entry.weapon" prop="weight"></InputNumber></td>
				<td-unheld :entry="entry" :requestCurWidget="requestCurWidget" :index="itemIndex" :showWidget="isVisibleWidget('throwing', 'td-unheld', itemIndex)" />
				<td>
					<select-held :entry="entry" :inventory="inventory" />
				</td>
				<td>
					<a href="javascript:;" v-on:click="packEquipedWeapon(entry)">Pack</a>
					<a href="javascript:;" v-on:click="dropEquipedWeapon(entry)">Drop</a>
					<a href="javascript:;" v-on:click="dropEquipedWeapon(entry, true)">Delete</a>
				</td>
			</tr>
			<tr class="entry-row" :key="-5" v-if="weaponEntry.e.weapon.isThrowing() || weaponEntry.e.weapon.isSling()">
				<td><input type="text" v-model="weaponEntry.e.weapon.name" v-on:focus="focusInRowField(weaponEntry,1)" v-on:blur="focusOutRowField(weaponEntry,1)"></input></td>
				<td-prof :curWidgetRequest="curWidgetRequest" :isVisibleWidget="isVisibleWidget" :weapon="weaponEntry.e.weapon" section="throwing" :index="-1" v-on:focus-widget="focusInRowField(weaponEntry,(1<<20))" v-on:focus-in-row="focusInRowField(weaponEntry, 2)" v-on:focus-out-row="focusOutRowField(weaponEntry,2)" :meleeProfs="coreMeleeProfs" :rangedProfs="coreRangedProfs" :profMask="throwMask" />
				<td-hands :entry="weaponEntry.e" v-on:focus-in-row="focusInRowField(weaponEntry, 4)" v-on:focus-out-row="focusOutRowField(weaponEntry,4)" />
				<td><InputInt :step="1" :obj="weaponEntry.e.weapon" prop="range" v-on:focus.native="focusInRowField(weaponEntry,8)" v-on:blur.native="focusOutRowField(weaponEntry,8)"  /></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="missile-atk" widgetTagName="w-missile-atk" :value="getMissileAtkStr(weaponEntry.e.weapon)" :index="-1" :showWidget="(weaponEntry.focusedFlags & (16|(1<<21))) !=0" :entry="weaponEntry.e" :requestCurWidget="requestCurWidget" v-on:focus-widget="focusInRowField(weaponEntry,(1<<21))" v-on:focus-in-row="focusInRowField(weaponEntry,16)" v-on:focus-out-row="focusOutRowField(weaponEntry,16)" />
				<td><InputInt :min="0" :max="10" :obj="weaponEntry.e.weapon" prop="stuckChance" v-on:focus.native="focusInRowField(weaponEntry,32)" v-on:blur.native="focusOutRowField(weaponEntry,32)"></InputInt></td>
				<td class="voidna"></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="tags" widgetTagName="w-tags" :value="getTags(weaponEntry.e.weapon)" :index="-1" :showWidget="(weaponEntry.focusedFlags & (128|(1<<24))) !=0" :entry="weaponEntry.e" :requestCurWidget="requestCurWidget" v-on:focus-widget="focusInRowField(weaponEntry,(1<<24))" v-on:focus-in-row="focusInRowField(weaponEntry,128)" v-on:focus-out-row="focusOutRowField(weaponEntry,128)" />
				<td><InputNumber :min="0" :step="0.5" :obj="weaponEntry.e.weapon" prop="weight" v-on:focus.native="focusInRowField(weaponEntry,256)" v-on:blur.native="focusOutRowField(weaponEntry,256)"></InputNumber></td>
				<td><input type="text" v-model="weaponEntry.e.unheldRemark"v-on:focus="focusInRowField(weaponEntry,512)" v-on:blur="focusOutRowField(weaponEntry,512)"></input></td>
			</tr>
		</tbody>
		<thead>
			<tr>
				<td class="gotbtn focus">Ammo name</td>
				<td class="munition-type">Type</td>
				<td class="voidna"></td>
				<td>Range</td>
				<td>TN(dmg)</td>
				<td class="d10">Catch</td>
				<td class="voidna"></td>
				<td class="tags">Tags</td>
				<td class="weight">Weight</td>
				<td class="keptat">Kept at?</td>
				<td class="voidna"></td>
				<td class="actions"><i>Actions</i></td>
			</tr>
		</thead>
		<tbody :name="itemTransitionName" is="transition-group" v-on:mousedown.native="setCurWidgetSection('ammo', $event)" v-on:touchstart.native="setCurWidgetSection('ammo', $event)">
			<tr v-for="(entry, itemIndex) in filteredAmmo" :key="entry.key">
				<td><input-name :item="entry.weapon" v-on:updated="onInputNameUpdated" /></td>
				<td-prof :curWidgetRequest="curWidgetRequest" :isVisibleWidget="isVisibleWidget" :weapon="entry.weapon" section="ammo" :index="itemIndex"  :meleeProfs="coreMeleeProfs" :rangedProfs="coreRangedProfs"  />
				<td class="voidna"></td>
				<td><InputInt :obj="entry.weapon" prop="range" /></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="missile-atk" widgetTagName="w-missile-atk" :value="getMissileAtkStr(entry.weapon)" :index="itemIndex" :showWidget="isVisibleWidget('ammo','missile-atk', itemIndex)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td><InputInt :min="0" :max="10" :obj="entry.weapon" prop="stuckChance"></InputInt></td>
				<td class="voidna"></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="tags" widgetTagName="w-tags" :value="getTags(entry.weapon)" :index="itemIndex" :showWidget="isVisibleWidget('ammo','tags', itemIndex)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td><InputNumber :min="0" :step="0.5" :obj="entry.weapon" prop="weight"></InputNumber></td>
				<td-unheld :entry="entry" :requestCurWidget="requestCurWidget" :index="itemIndex" :showWidget="isVisibleWidget('ammo', 'td-unheld', itemIndex)" />
				<td class="voidna"></td>
				<td>
					<a href="javascript:;" v-on:click="packEquipedWeapon(entry)">Pack</a>
					<a href="javascript:;" v-on:click="dropEquipedWeapon(entry)">Drop</a>
					<a href="javascript:;" v-on:click="dropEquipedWeapon(entry, true)">Delete</a>
				</td>
			</tr>
			<tr class="entry-row" :key="-6" v-if="weaponEntry.e.weapon.isAmmunition()">
				<td><input type="text" v-model="weaponEntry.e.weapon.name" v-on:focus="focusInRowField(weaponEntry,1)" v-on:blur="focusOutRowField(weaponEntry,1)"></input></td>
				<td-prof :curWidgetRequest="curWidgetRequest" :isVisibleWidget="isVisibleWidget" :weapon="weaponEntry.e.weapon" section="ammo" :index="-1" v-on:focus-widget="focusInRowField(weaponEntry,(1<<20))" v-on:focus-in-row="focusInRowField(weaponEntry, 2)" v-on:focus-out-row="focusOutRowField(weaponEntry,2)" :meleeProfs="coreMeleeProfs" :rangedProfs="coreRangedProfs" :profMask="-1" />
				<td class="voidna"></td>
				<td><InputInt :obj="weaponEntry.e.weapon" prop="range" v-on:focus.native="focusInRowField(weaponEntry,8)" v-on:blur.native="focusOutRowField(weaponEntry,8)"  /></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="missile-atk" widgetTagName="w-missile-atk" :value="getMissileAtkStr(weaponEntry.e.weapon)" :index="-1" :showWidget="(weaponEntry.focusedFlags & (16|(1<<21))) !=0" :entry="weaponEntry.e" :requestCurWidget="requestCurWidget" v-on:focus-widget="focusInRowField(weaponEntry,(1<<21))" v-on:focus-in-row="focusInRowField(weaponEntry,16)" v-on:focus-out-row="focusOutRowField(weaponEntry,16)" />
				<td><InputInt :min="0" :max="10" :obj="weaponEntry.e.weapon" prop="stuckChance" v-on:focus.native="focusInRowField(weaponEntry,32)" v-on:blur.native="focusOutRowField(weaponEntry,32)"></InputInt></td>
				<td class="voidna"></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="tags" widgetTagName="w-tags" :value="getTags(weaponEntry.e.weapon)" :index="-1" :showWidget="(weaponEntry.focusedFlags & (128|(1<<24))) !=0" :entry="weaponEntry.e" :requestCurWidget="requestCurWidget" v-on:focus-widget="focusInRowField(weaponEntry,(1<<24))" v-on:focus-in-row="focusInRowField(weaponEntry,128)" v-on:focus-out-row="focusOutRowField(weaponEntry,128)" />
				<td><InputNumber :min="0" :step="0.5" :obj="weaponEntry.e.weapon" prop="weight" v-on:focus.native="focusInRowField(weaponEntry,256)" v-on:blur.native="focusOutRowField(weaponEntry,256)"></InputNumber></td>
				<td><input type="text" v-model="weaponEntry.e.unheldRemark"v-on:focus="focusInRowField(weaponEntry,512)" v-on:blur="focusOutRowField(weaponEntry,512)"></input></td>
			</tr>
		</tbody>
			
	</table>
				
				
	<h4>MiscItems:</h4>
	<table border="1">
		<thead>
			<tr>
				<td>MiscItem Name</td>
				<td class="tags">Tags</td>
				<td class="weight">Weight</td>
				<td class="keptat">Kept at?</td>
				<td class="held">Held?</td>
				<td class="actions"><i>Actions</i></td>
			</tr>
		</thead>
		<tbody :name="itemTransitionName" is="transition-group" v-on:mousedown.native="setCurWidgetSection('miscItem', $event)" v-on:touchstart.native="setCurWidgetSection('miscItem', $event)">
			<tr v-for="(entry,i) in inventory.equipedNonMeleeItems" :key="entry.key">
				<td><input-name :item="entry.item" v-on:updated="onInputNameUpdated" /></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="tags" widgetTagName="w-tags" :value="getTags(entry.item)" :index="i" :showWidget="isVisibleWidget('miscItem','tags', i)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td><InputNumber :min="0" :step="0.5" :obj="entry.item" prop="weight"></InputNumber></td>
				<td-unheld :entry="entry" :requestCurWidget="requestCurWidget" :index="i" :showWidget="isVisibleWidget('miscItem', 'td-unheld', i)" />
				<td>
					<select-held :entry="entry" :inventory="inventory" />
				</td>
				<td>
					<a href="javascript:;" v-on:click="packMiscItem(entry)">Pack</a>
					<a href="javascript:;" v-on:click="dropMiscItem(entry)">Drop</a>
					<a href="javascript:;" v-on:click="dropMiscItem(entry, true)">Delete</a>
				</td>
			</tr>
			<tr class="entry-row" :key="-1">
				<td><input type="text" v-model="miscItemEntry.e.item.name" v-on:focus="focusInRowField(miscItemEntry,1)" v-on:blur="focusOutRowField(miscItemEntry,1)"></input></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="tags" widgetTagName="w-tags" :value="getTags(miscItemEntry.e.item)" :index="-1" :showWidget="(miscItemEntry.focusedFlags & (2|(1<<21))) !=0" :entry="miscItemEntry.e" :requestCurWidget="requestCurWidget" v-on:focus-widget="focusInRowField(miscItemEntry,(1<<21))" v-on:focus-in-row="focusInRowField(miscItemEntry,2)" v-on:focus-out-row="focusOutRowField(miscItemEntry,2)" />
				<td><InputNumber :min="0" :step="0.5" :obj="miscItemEntry.e.item" prop="weight" v-on:focus.native="focusInRowField(miscItemEntry,4)" v-on:blur.native="focusOutRowField(miscItemEntry,4)"></InputNumber></td>
				<td><input type="text" v-model="miscItemEntry.e.unheldRemark" v-on:focus="focusInRowField(miscItemEntry,8)" v-on:blur="focusOutRowField(miscItemEntry,8)"></input></td>	
			</tr>
		</tbody>
	</table>		
		
	
	<h4>Armor:</h4>
	<table border="1">
		<thead>
			<tr>
				<td>Armor Name</td>
				<td>AVC</td>
				<td>AVP</td>
				<td>AVB</td>
				<td>Coverage</td>
				<td class="weight">Weight</td>
				<td class="tags">Tags</td>
				<td class="actions"><i>Actions</i></td>
			</tr>
		</thead>
		<tbody :name="itemTransitionName" is="transition-group" v-on:mousedown.native="setCurWidgetSection('armor', $event)"  v-on:touchstart.native="setCurWidgetSection('armor', $event)">
			<tr v-for="(entry, i) in inventory.wornArmor" :key="i">
				<td><input-name :item="entry.armor" v-on:updated="onInputNameUpdated" /></td>
				<td><InputInt :min="0" :obj="entry.armor" prop="AVC"></InputInt></td>
				<td><InputInt :min="0" :obj="entry.armor" prop="AVP"></InputInt></td>
				<td><InputInt :min="0" :obj="entry.armor" prop="AVB"></InputInt></td>			
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="coverage" widgetTagName="w-coverage" :value="getCoverage(entry.armor)" :index="i" :showWidget="isVisibleWidget('armor','coverage', i)" :entry="entry" :requestCurWidget="requestCurWidget" />
				<td><InputNumber :min="0" :step="0.5" :obj="entry.armor" prop="weight"></InputNumber></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="tags" widgetTagName="w-tags" :value="getTags(entry.armor)" :index="i" :showWidget="isVisibleWidget('armor','tags', i)" :entry="entry" :requestCurWidget="requestCurWidget" />
				
				<td>
					<a href="javascript:;" v-on:click="packWornArmor(entry)">Pack</a>
					<a href="javascript:;" v-on:click="dropWornArmor(entry)">Drop</a>
					<a href="javascript:;" v-on:click="dropWornArmor(entry, true)">Delete</a>
				</td>
			</tr>
			<tr class="entry-row" :key="-1">
				<td><input type="text" v-model="armorEntry.e.armor.name" v-on:focus="focusInRowField(armorEntry,1)" v-on:blur="focusOutRowField(armorEntry,1)"></input></td>
				<td><InputInt :min="0" :obj="armorEntry.e.armor" prop="AVC" v-on:focus.native="focusInRowField(armorEntry,2)" v-on:blur.native="focusOutRowField(armorEntry,2)"></InputInt></td>
				<td><InputInt :min="0" :obj="armorEntry.e.armor" prop="AVP" v-on:focus.native="focusInRowField(armorEntry,4)" v-on:blur.native="focusOutRowField(armorEntry,4)"></InputInt></td>
				<td><InputInt :min="0" :obj="armorEntry.e.armor" prop="AVB" v-on:focus.native="focusInRowField(armorEntry,8)" v-on:blur.native="focusOutRowField(armorEntry,8)"></InputInt></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="coverage" widgetTagName="w-coverage" :value="getCoverage(armorEntry.e.armor)" :index="-1" :showWidget="(armorEntry.focusedFlags & (16|(1<<20))) !=0" :entry="armorEntry.e.armor" :requestCurWidget="requestCurWidget"
					v-on:focus-in-row="focusInRowField(armorEntry, 16)" v-on:focus-out-row="focusOutRowField(armorEntry, 16)" v-on:focus-widget="focusInRowField(armorEntry, (1<<20))" />
				
				
				<td><InputNumber :min="0" :step="0.5" :obj="armorEntry.e.armor" prop="weight" v-on:focus.native="focusInRowField(armorEntry,32)" v-on:blur.native="focusOutRowField(armorEntry,32)"></InputNumber></td>
				<td-widget v-on:focus-widget-value="focusWidgetValue" widgetName="tags" widgetTagName="w-tags" :value="getTags(armorEntry.e.armor)" :index="-1" :showWidget="(armorEntry.focusedFlags & (64|(1<<21))) !=0" :entry="armorEntry.e.armor" :requestCurWidget="requestCurWidget"
				v-on:focus-in-row="focusInRowField(armorEntry, 64)" v-on:focus-out-row="focusOutRowField(armorEntry, 64)" v-on:focus-widget="focusInRowField(armorEntry, (1<<21))" />
				<td><input type="text" readonly class="focusable" v-on:focus="focusInRowField(armorEntry,64)" v-on:blur="focusOutRowField(armorEntry,64)"></input></td>
			</tr>
		</tbody>
	</table>		
	
	
	<hr/>
		
		<div class="overall-armor-coverage" v-if="showArmorCoverage">
			<h4>Overall Armor Coverage:</h4>	
			<div v-if="carriedShield!=null">Held Shield: <b>{{carriedShield.name}}</b> <span class="shield-icon-inv">☗</span></div>
			<div v-if="carriedShield!=null">Size: <b>{{shieldSizeLabels[carriedShield.size]}}</b></div>
			<div><label>Prefered Shield Position:
				<select v-model.number="inventory.shieldPosition">
					<option :value="0">Low</option>
					<option :value="1">High</option>
				</select>	
			</label> <span v-show="carriedShield==null"> (if held)</span></div>
			<div style="display:inline-block;vertical-align:top;">
				<table border="1" class="table-coverage">
					<thead>
						<tr>
							<td></td>
							<td></td>
							<td>AVC</td>
							<td>AVP<span v-show="calcArmorNonFirearmMissile"> ↢</span></td>
							<td>AVB</td>
							<td v-if="carriedShield !=null">sAV	<span class="shield-icon-inv">☗</span></td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(li, i) in coverageHitLocations">
							<td><i>{{getHitLocationMaskNameOf(i)}}</i></td>
							<td>{{i+1}}. {{li.name}}</td>
							<td><input type="number" readonly :value="hitLocationArmorValues[li.id].avc" :disabled="isDisabledHitLocation(i)" v-on:focus="calcAVColumnRowIndex(1, i)" v-on:blur="focusOutAVColumnRowIndex(1,i)"></input></td>
							<td><input type="number" readonly :value="hitLocationArmorValues[li.id].avp" :disabled="isDisabledHitLocation(i)" v-on:focus="calcAVColumnRowIndex(2, i)" v-on:blur="focusOutAVColumnRowIndex(2,i)"></input></td>
							<td><input type="number" readonly :value="hitLocationArmorValues[li.id].avb" :disabled="isDisabledHitLocation(i)" v-on:focus="calcAVColumnRowIndex(3, i)" v-on:blur="focusOutAVColumnRowIndex(3,i)"></input></td>
							<td v-if="carriedShield!=null" v-show="shieldCoverage[li.id]!=null" class="td-shield" :class="{active:calcAVRowIndex==i && shieldAVHigherOrEqual }">{{ shieldCoverage[li.id] ===false ? "~" : ""}}{{ carriedShield.AV }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div style="display:inline-block;vertical-align:top;margin-left:8px;">
				<div><i class="consider">Consider against:</i></div>
				<br/>
				<div><label><input type="checkbox" v-model="calcArmorCrushing"></input>Crushing attack</label></div>
				<div><label><input type="checkbox" v-model="calcArmorNonFirearmMissile"></input>Non-Firearm Missile attack ↢</label></div>
				<div><label :class="{disabled:calcArmorNonFirearmMissile}" :style="{'pointer-events':calcArmorNonFirearmMissile ? 'none': 'auto'}"><input type="checkbox" v-model="calcArmorMeleeTargeting"></input> <span :class="{disabled:!shouldCalcMeleeAiming}">Melee Targeting:</span> </label><select number :disabled="!shouldCalcMeleeAiming" v-model.number="calcMeleeTargetingZoneIndex">
					<option :value="i" v-for="(li, i) in body.targetZones">{{ body.getDescLabelTargetZone(i) }}</option>
				</select></div>
				<br/>
				<div><i>Result: </i><b>{{ calcArmorResults.av + calcArmorResults.layer }} AV</b></div>
				<i class="cta" v-show="calcAVColumn==0">&lt;- Focus-click on table cells to inspect result.</i>
				<br/>
				<div v-show="calcAVColumn!=0">
					<div><span class="outline-dominant">AV Armor protecting: <b>{{ calcArmorResults.av }} AV</b></span></div>
					<ul v-show="hasArmorResultProtecting">
						<li v-for="li in calcArmorResults.armorsProtectable">{{ li.name }}</li>
					</ul>
					<br v-show="!hasArmorResultProtecting" />
					<div><span class="outline-layer">Layer protecting: <b>+{{ calcArmorResults.layer }} AV</b></span></div>
					<ul v-show="hasArmorResultLayers">
						<li v-for="li in calcArmorResults.armorsLayer">{{ li.name }}</li>
					</ul>
					<br v-show="!hasArmorResultLayers" />
					<div v-show="calcArmorCrushing">
						<div><span class="outline-crushed">Crushable Hard Armor: <b><span v-show="!hasArmorCrushables"> <i>none</i></span></b></span></div>
						<ul v-show="hasArmorCrushables">
							<li v-for="li in calcArmorResults.armorsCrushable">{{ li.name }}</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	<hr/>
	<div v-show="saveAvailable"><button v-on:click="saveSheet()">Save Inventory</button> <i>(also includes Dropped zone)</i></div>
	
	<div v-show="saveAvailable || loadAvailable">
		<br/>
		<textarea class="savebox" character-set="UTF-8" v-model="copyToClipboard" :readonly="!loadAvailable"></textarea>
	</div>
				
	<div v-show="loadAvailable"><button v-on:click="loadSheet()">Load Inventory</button> <i>(also replaces Dropped zone)</i></div>
			
			
	<div class="focus-value-bar"><input type="text" :value="focusValueText" readonly></input></div>
</div>