<td v-on:click.stop="" class="w-holder w-prof" :class="{'got-custom':gotCustom}">
	<select ref="selectDom" :value="get_weaponOptionValue()" number data-type="profs" :data-index="index" v-on:focus="emit('focus-in-row')" v-on:blur="emit('focus-out-row')" v-on:change="onProfSelectChange($event, weapon)">
		<option v-if="showSelectMultipleFirst" :selected="false" style="color:grey;" value="0" :key="-999">select multiple...</option>
		<option selected v-if="gotCustomMultiCheck" :value="get_weaponOptionValue()">
			{{ multiSelectedOptionLabel }}
		</option>
		<option :selected="!gotCustomMultiCheck && !weapon.ranged && weapon.profs&(1 << i) && !isSelectingMultiple" v-for="(p, i) in meleeProfs" :value="(1 << i)">{{weapon.ranged || (profMask!=null && profMask == -1) || weapon.isAmmo ? "&gt;" : ""}}{{p.name}}</option>
		<option :selected="!gotCustomMultiCheck && weapon.ranged && weapon.profs&(1 << i) && !isSelectingMultiple" v-for="(p, i) in rangedProfs" :value="-1*(1 << i)"> {{(profMask != null ? (profMask&shiftIndex(i))==0 || profMask == -1 : true) || !weapon.ranged || weapon.isAmmo ? "&gt;" : ""}}{{ p.name }}</option>
		<option :key="-999" :selected="false"  v-if="!showSelectMultipleFirst" style="color:grey;" value="0" >select multiple...</option>
	</select>	
	<div class="pop-widget"  v-on:click.stop="" v-on:mousedown="emit('focus-widget')" v-on:touchstart.stop=""  v-if="isVisibleWidget(section,'profs', index)">
		<w-prof :entry="entry" :customWidth="gotCustom" :customProfs="this.customProfs" :curWidgetRequest="curWidgetRequest" :item="weapon" :meleeProfs="meleeProfs" :rangedProfs="rangedProfs" />
	</div>
</td>