<div class="treeview" :class="classname">
    <div class="node-data"
        v-for="(node, index) in model" :key="uid"
    >
		<div class="node" v-if="filterNodeHandler == null || filterNodeHandler(node)"
            :class="getNodeClass(node, index)"
            @click.prevent="select(index, node[valuename])"
>
            <span class="icon node-parent-toggled"
                v-show="areValidNodes(node[children]) && isOpened(index)"
            >
                <svg viewBox="0 0 35 35" v-if="getCustomIcon == null || getCustomIcon(node ,1)===false">
                    <g transform="translate(0,-1017.3621)">
                        <path class="back" d="m 2.1411424,1026.4693 0,23.4146 27.0189286,0 0,-23.4146 -13.937805,0 0,-2.7898 -9.2657958,0 0,2.7898 z"/>
                        <path class="front" d="m 1,1051.3621 7,-19 2,0 1,-2 6,0 -1,2 19,0 -4.472399,18.9369 z"/>
                        <path class="light" d="m 29.696699,1047.0363 -0.820749,3.0631 -6,0 0.757614,-3"/>
                    </g>
                </svg>
				<span class="custom-icon opened" v-else>{{getCustomIcon(node, 1)}}</span>
            </span>
            <span class="icon node-parent"
                v-show="areValidNodes(node[children]) && !isOpened(index)"
            >
                <svg width="14" height="14" viewBox="0 0 35 35" v-if="getCustomIcon == null || getCustomIcon(node ,0)===false">
                    <g transform="translate(0,-1017.3621)">
                        <path class="fill" d="m 1,1026.1835 0,25.1786 33,0 0,-25.1786 -18.857143,0 0,-3 -10.017857,0 0,3 z" />
                        <path class="light" d="m 32,1046.1625 0,3 -6,0 0,-3 6,0"/>
                    </g>
                </svg>
				<span class="custom-icon closed" v-else>{{getCustomIcon(node, 0)}}</span>
            </span>
            <span class="icon node"
                v-if="!areValidNodes(node[children])"
            >
                <svg width="8" height="8" viewBox="0 0 35 35" v-if="getCustomIcon == null || getCustomIcon(node ,2)===false">
                    <g transform="translate(0,-1017.3622)">
                        <circle cx="17.488264" cy="1034.874" r="16.003242"/>
                    </g>
                </svg>
				<span class="custom-icon leaf" v-else>{{getCustomIcon(node, 2)}}</span>
            </span>
            <label v-html="customLabelHandler == null ? node[labelname] : customLabelHandler(node[labelname])"></label>
        </div>
        <div v-if="areValidNodes(node[children])"
            class="children"
            v-show="isOpened(index)"
        >
            <div class="margin"></div>
            <div class="nodes">
                <treeview :id="id"
					:value="value"
					@update:value="bubbleValueHandler"
					:labelname="labelname"
                    :valuename="valuename"
                    :children="children"
                    :model="node[children]"
                    :parent.once="index"
                    classname="inner"
                ></treeview>
            </div>
        </div>
    </div>
</div>