
@font-face {
  font-family:'FontAwesome';src:url("../font-awesome/fontawesome-webfont.eot?v=4.6.3");src:url("../font-awesome/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../font-awesome/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../font-awesome/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../font-awesome/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../font-awesome/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");font-weight:normal;font-style:normal;
}



.layout-item {
	box-sizing:border-box;
	pointer-events:none;
	touch-action:none;
	
}

.dollview {
	
	.enableinput {
		pointer-events:auto;
		touch-action:auto;
	}
	
	.bg {
		pointer-events:none;
		touch-action:none;
	}
	button {
		border-radius:0;
	}
	
	ul {
		list-style-type:none;
		padding:0;margin:0;
	}
	
	font-size:12px;
	.textarea-region {
		border:1px solid rgba(190,190,190,1);
		overflow:hidden;
	}
	.hover-tag {
		position:absolute;
		bottom:0;
		background-color:beige;
	}
	.cpMeter {
		overflow:hidden;
		display:flex;
		flex-direction:column-reverse;
		align-items:center;
		text-align:center;
		overflow:visible;
		letter-spacing:-2px;
		
		>div {
			position:relative;
			z-index:1;
		}
		
		&:before {
			position:absolute;
			background-color:#cccccc;
			height:100%;
			display:block;
			content:'';
			left:100%;
			top:0;
			
			width:1px;
			margin-left:-0.5px;
			
		}
	}
	.thrust-point {
		background-color:black;
		border-radius:50%;
		
		position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
		
	}.opponentSwiper {
		ul {
			text-align:center;
		}
	}
	
	.handLeftText, .handLeftAlt, .handRightText, .handRightAlt {
		display:flex;
		align-items:center;
		.lbl {
			position:relative;
			width:100%;
			
		}
	}
	
	.handLeftText {
		.lbl {
			text-align:right;
		}
	}
	.handLeftAlt {
		overflow:hidden;
		padding:5px;
		.lbl {
			text-align:left;
		}
		&:after {
			border-radius:2px;
			border:1px solid #888888;
			box-sizing:border-box;

			width:50%;
			height:1em;
			content:'';
			display:inline-block;
		}
		
	}
	
	.handRightText {
		
		.lbl {
			text-align:left;
		}
	}
	.handRightAlt {
		overflow:hidden;
		padding:5px;
		.lbl {
			text-align:right;
		}
		&:before {
			border-radius:2px;
			border:1px solid #888888;
			box-sizing:border-box;

			width:50%;
			height:1em;
			content:'';
			display:inline-block;
		}
		
	}
	
	
	.select-opponent {
		
		text-align:center;
		display:flex;
		align-items:center;
		flex-direction:row;
		position:absolute;
		height:100%;width:100%;
		justify-content:center;
		>button {
			display:block;
			padding:15px;
		}
	}
	
	.shieldmark {
		position:absolute;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		top:50%;
		left:50%;
		transform-origin:0 0;
		//transform:translate(-50%, -50%);
		
		&:after {
			font-family:FontAwesome;
			content:'\f132';
		}
		&.flip {
			transform:scaleX(-1);
		}
	}

}

.pregen-select-view {
	font-size:16px;
	background-color:#333333;
	z-index:2;
	-webkit-overflow-scrolling: touch; 
	.checkbox-holder {
		input:checked + label {
		  text-decoration:underline;
		  color:yellow;
		}
	}
	label {
		color:white;
	}
	h1 {
		text-align:center;
		color:white;
		font-size:20px;
	}
	a {
		color:white;
		font-size:16px;
	}
	ul {
		list-style-type:none;
		text-align:center;
		padding-left:0;
	}
	li {
		margin-bottom:15px;
		text-indent:0;
		.desc {
			font-size:11px;
			color:#aaaaaa;
			font-family:"Lucida Console", Monaco, monospace;
		}
	}
	.btn-zone {
		text-align:center;
		margin-top:45px;
		margin-bottom:35px;
		.btn {
			padding:10px 5px;
			border:1px solid white;
			margin-right:30px;
			&:last-child {
				margin-right:0;
			}
		}
		
		.ok {
			span {
				color:#00ff00;
			}
		}
		.close {
			span {
				color:#ff0000;
			}
		}
	}
	button {
		padding:8px 15px;
	}
	
	
}