<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
	<script src="js/lib/jquery.2.1.0.min.js"></script>	
	<script src="js/lib/iscroll.js"></script>	
	<script src="js/lib/vue.js"></script>	
	<script src="js/lib/vue-animated-list.js"></script>	
	<link rel="stylesheet" type="text/css" href="css/mock.css">
</head>
<body>
	<div class="phoneframe" id="phoneframe">
		<div class="appwrapper" id="appwrapper">
			<div class="nav">
				
			</div> 
			<div id="contentwrapper">
				<div class="contents" id="contents">
					<!-- && (a.orientation || a.target)-->
					<div class="area" v-if="a.type != 'choiceHeader'" v-bind:class="{'temp':a.temp, 'tempCurrent':a.tempCurrent, 'portrait-left': (a.charId && this.typesCharRelated[a.type]) && isPortraitLeftAligned(this.charInfo[a.charId]), 'person':(a.charId && this.typesCharRelated[a.type]), 'describeline':!(a.charId && this.typesCharRelated[a.type]) ,  'connect':$index > 0 && (a.charId==this.lines[$index-1].charId || (  getCharInfo(this.lines[$index-1]).target ===a.charId && getCharInfo(a).target && getCharInfo(a).target === this.lines[$index-1].charId )  )  }" v-for="a in lines">
						<div class="portrait" v-if="a.charId && this.typesCharRelated[a.type]">
							<div class="circlecont" v-if="($index == 0 || this.lines[$index-1].charId != a.charId)">
								<div class="circlebg"></div>
								<div class="circleimg"></div>
								<div class="circleoutline"></div>
							</div>
						</div>
						<div class="copy">{{a.text}}</div>
						<div class="clear"></div>
					</div>

					<div v-for="a in lines" v-if='a.type ==="choiceHeader"' class="area choices">
						<h3 v-show="a.text">{{a.text}}</h3>
						<div class="choice" v-for="c in choices" v-on:click="this.onChoiceClick(c)">{{c.text}}</div>
					</div>

					<hr class="end"/>
				</div>
			</div>
		</div>
	</div>
	<script src="js/mock.js"></script>	
</body>
</html>