<div class="dollview" style="position:fixed;top:0;left:0;width:100%;height:100%"  ref="container">
	<div style="width:100%;height:100%;top:0;left;0;position:absolute;background-repeat:no-repeat;background-image:url(images/dollscreen.png); background-position:50% 50%; background-size:contain">
		<zone v-for="(li, i) in layoutItemList" :title="titleList[i]" :class="classList[i]" :key="i" :x="positionList[i].x*refWidth*scaleX" :y="positionList[i].y*refHeight*scaleY" :width="scaleList[i].x*refWidth*scaleX" :height="scaleList[i].y*refHeight*scaleY" :item="li" :debug="true" />
	</div>
	<div class="image-map-holder" style="position:relative; display:none">
		<img src="images/dollscreen.png" style="transform-origin:0 0; pointer-events:none; opacity:0.12" usemap="#map" ref="image" />
		<map name="map" ref="map">
			<!--<area shape="circle" coords="155, 155, 32" title="circle_test" />-->
			<area shape="poly" coords="316, 519, 314, 580, 305, 622, 317, 659, 374, 585" alt="swing" title="SWING_LOWER_LEG-l" />
			<area shape="poly" coords="124, 567, 170, 525, 172, 576, 179, 619, 160, 663" alt="swing" title="SWING_LOWER_LEG-r" />
			<area shape="rect" coords="224, 478, 261, 585" title="enemyStatus" />
			<area shape="poly" coords="238, 76, 254, 78, 262, 85, 267, 115, 262, 115, 255, 96, 244, 95, 234, 97, 223, 115, 217, 115, 223, 85, 238, 76" alt="part" title="UPPER_HEAD" />
			<area shape="poly" coords="309, 400, 310, 483, 313, 506, 378, 574, 366, 421" alt="swing" title="SWING_UPPER_LEG-l" />
			<area shape="poly" coords="124, 432, 172, 409, 175, 499, 115, 557" alt="swing" title="SWING_UPPER_LEG-r" />
			<area shape="poly" coords="302, 332, 351, 364, 364, 413, 306, 390" alt="swing" title="SWING_GROIN-l" />
			<area shape="poly" coords="142, 358, 181, 334, 171, 392, 124, 418" alt="swing" title="SWING_GROIN-r" />
			<area shape="poly" coords="302, 254, 331, 307, 361, 333, 349, 349, 307, 318, 300, 315" alt="swing" title="SWING_TORSO-l" />
			<area shape="poly" coords="137, 319, 172, 278, 183, 259, 185, 322, 141, 351" alt="swing" title="SWING_TORSO-r" />
			<area shape="poly" coords="356, 263, 399, 235, 411, 300, 387, 311" alt="swing" title="SWING_LOWER_ARM-l" />
			<area shape="poly" coords="319, 168, 352, 254, 399, 224, 366, 168" alt="swing" title="SWING_UPPER_ARM-l" />
			<area shape="poly" coords="271, 77, 272, 127, 306, 83" alt="swing" title="SWING_UPWARD_HEAD-l" />
			<area shape="poly" coords="166, 82, 213, 132, 210, 77" alt="swing" title="SWING_UPWARD_HEAD-r" />
			<area shape="poly" coords="313, 83, 269, 144, 285, 158, 366, 162" alt="swing" title="SWING_NECK-l" />
			<area shape="poly" coords="219, 78, 242, 46, 264, 79, 267, 91, 220, 93" alt="swing" title="SWING_UPWARD_HEAD" />
			<area shape="poly" coords="89, 226, 133, 258, 101, 309, 67, 310" alt="swing" title="SWING_LOWER_ARM-r" />
			<area shape="poly" coords="87, 213, 139, 250, 159, 186, 170, 164, 115, 162" alt="swing" title="SWING_UPPER_ARM-r" />
			<area shape="poly" coords="153, 85, 219, 144, 200, 159, 120, 157" alt="swing" title="SWING_NECK-r" />
			<area shape="poly" coords="224, 124, 228, 144, 247, 149, 258, 142, 269, 123, 263, 123, 250, 134, 237, 134, 228, 124" alt="part" title="LOWER_HEAD" />
			<area shape="poly" coords="322, 192, 339, 250, 315, 256, 308, 243, 306, 223, 322, 192" alt="part" title="UPPER_ARM-l" />
			<area shape="poly" coords="98, 321, 106, 322, 111, 333, 97, 367, 94, 338, 79, 330, 98, 321" alt="part" title="HAND-r" />
			<area shape="poly" coords="393, 328, 399, 346, 395, 359, 384, 357, 370, 329, 386, 320" alt="part" title="HAND-l" />
			<area shape="poly" coords="356, 283, 381, 313, 368, 324, 347, 311, 327, 279, 349, 270" alt="part" title="FOREARM-l" />
			<area shape="poly" coords="334, 253, 345, 263, 325, 273, 318, 260" alt="part" title="ELBOW-l" />
			<area shape="poly" coords="138, 267, 155, 281, 116, 327, 105, 317" alt="part" title="FOREARM-r" />
			<area shape="poly" coords="284, 620, 294, 619, 299, 650, 312, 666, 309, 671, 284, 672, 279, 637" alt="part" title="FOOT-l" />
			<area shape="poly" coords="188, 619, 202, 619, 207, 633, 205, 668, 199, 673, 169, 669, 183, 647, 188, 630" alt="part" title="FOOT-r" />
			<area shape="poly" coords="250, 383, 267, 368, 297, 367, 302, 390, 298, 457, 298, 480, 286, 481, 271, 486, 261, 421" alt="part" title="THIGH-l" />
			<area shape="poly" coords="301, 517, 306, 520, 308, 534, 306, 580, 297, 622, 284, 621, 275, 563, 274, 519, 291, 524, 301, 517" alt="part" title="SHIN-l" />
			<area shape="poly" coords="180, 516, 195, 523, 210, 518, 211, 558, 202, 614, 186, 614, 182, 600, 177, 571, 180, 516" alt="part" title="SHIN-r" />
			<area shape="poly" coords="274, 496, 289, 492, 301, 494, 302, 508, 292, 520, 273, 511" alt="part" title="KNEE-l" />
			<area shape="poly" coords="193, 488, 213, 497, 211, 509, 199, 516, 183, 508, 185, 492, 193, 488" alt="part" title="KNEE-r" />
			<area shape="poly" coords="189, 367, 220, 367, 237, 381, 213, 491, 205, 484, 191, 484, 186, 480, 183, 385, 189, 367" alt="part" title="THIGH-r" />
			<area shape="poly" coords="243, 343, 258, 367, 248, 379, 239, 380, 228, 366, 243, 343" alt="part" title="GROIN" />
			<area shape="poly" coords="287, 326, 293, 332, 295, 363, 262, 363, 253, 350, 253, 342, 269, 331, 287, 326" alt="part" title="HIP-l" />
			<area shape="poly" coords="197, 324, 220, 331, 235, 341, 223, 363, 188, 363, 197, 324" alt="part" title="HIP-r" />
			<area shape="poly" coords="195, 259, 218, 266, 208, 295, 213, 325, 197, 319, 195, 259" alt="part" title="SIDE-r" />
			<area shape="poly" coords="288, 259, 292, 259, 293, 266, 289, 315, 286, 320, 271, 324, 278, 294, 269, 266, 288, 259" alt="part" title="SIDE-l" />
			<area shape="poly" coords="237, 256, 257, 261, 271, 287, 268, 317, 261, 328, 246, 337, 224, 329, 212, 302, 217, 273, 237, 256" alt="part" title="BELLY" />
			<area shape="poly" coords="240, 99, 254, 102, 258, 108, 259, 123, 250, 133, 238, 132, 231, 129, 225, 118, 231, 104, 240, 99" alt="part" title="FACE" />
			<area shape="poly" coords="259, 144, 262, 157, 270, 165, 245, 179, 209, 163, 225, 158, 230, 146, 244, 154, 258, 150" alt="part" title="NECK" />
			<area shape="poly" coords="286, 169, 307, 171, 317, 186, 305, 217" alt="part" title="SHOULDER-l" />
			<area shape="poly" coords="200, 174, 180, 217, 166, 186, 176, 171, 191, 168" alt="part" title="SHOULDER-r" />
			<area shape="poly" coords="164, 196, 180, 224, 169, 257, 151, 245, 164, 196" alt="part" title="UPPER_ARM-r" />
			<area shape="poly" coords="151, 253, 166, 263, 158, 276, 140, 261, 149, 249" alt="part" title="ELBOW-r" />
			<area shape="poly" coords="276, 170, 299, 223, 294, 252, 264, 260, 242, 250, 221, 260, 190, 250, 188, 220, 210, 171, 246, 186, 276, 170" alt="part" title="CHEST" />
			<area shape="rect" coords="1, 177, 13, 723" title="cpMeter" />
			<area shape="rect" coords="331, 3, 487, 106" title="incomingManuevers" />
			<area shape="rect" coords="71, 3, 320, 34" title="opponentSwiper" />
			<area shape="rect" coords="8, 3, 65, 31" title="roundCount" />
			<area shape="rect" coords="7, 37, 74, 163" title="vitals" />
			<area shape="rect" coords="401, 334, 435, 391" title="enemyHandLeft" />
			<area shape="rect" coords="59, 336, 92, 393" title="enemyHandRight" />
			<area shape="rect" coords="21, 175, 72, 229" title="cpText" />
			<area shape="rect" coords="421, 143, 487, 203" title="advManuever1" />
			<area shape="rect" coords="423, 239, 486, 298" title="advManuever2" />
			<area shape="rect" coords="424, 425, 489, 481" title="advManuever3" />
			<area shape="rect" coords="423, 517, 487, 576" title="advManuever4" />
			<area shape="rect" coords="50, 509, 102, 560" title="btnBlock" />
			<area shape="rect" coords="391, 610, 443, 661" title="btnParry" />
			<area shape="rect" coords="49, 612, 101, 663" title="btnVoid" />
			<area shape="rect" coords="39, 688, 118, 721" title="handLeftText" />
			<area shape="rect" coords="351, 688, 470, 721" title="handRightText" />
			<area shape="rect" coords="271, 684, 347, 721" title="handRightAlt" />
			<area shape="rect" coords="123, 684, 199, 721" title="handLeftAlt" />
			<area shape="poly" coords="239, 605, 219, 619, 210, 727, 266, 727, 258, 617" title="initRange" />
		</map>
	</div>
</div>