<div>
	<div style="width:50%;display:inline-block">
		<label>TN:<br/>
			<InputInt v-if="!thrusting" :obj="gotVariant ? item.variant : item" prop="atnS" style="width:100%"/>
			<InputInt v-if="thrusting" :obj="gotVariant ? item.variant : item" prop="atnT" style="width:100%"/>
		</label>
	</div><div style="width:50%;display:inline-block">
		<label>Damage:<br/>
			<InputInt v-if="!thrusting" :obj="gotVariant ? item.variant : item" prop="damageS" style="width:100%" />
			<InputInt v-if="thrusting" :obj="gotVariant ? item.variant : item" prop="damageT" style="width:100%" />
		</label>
	</div>
	<div>
		<label>Damage Type:</label>
		<select v-if="!thrusting && !gotVariant" number v-model.number="item.damageTypeS">
			<option v-for="(label, index) in damageTypeLabels" :value="index" :key="index">{{ label }}</option>
		</select>
		<select v-if="thrusting && !gotVariant" number v-model.number="item.damageTypeT">
			<option v-for="(label, index) in damageTypeLabels" :value="index" :key="index">{{ label }}</option>
		</select>
			
		<select v-if="!thrusting && gotVariant" number v-model.number="item.variant.damageTypeS">
			<option v-for="(label, index) in damageTypeLabels" :value="index" :key="index">{{ label }}</option>
		</select>
		<select v-if="thrusting && gotVariant" number v-model.number="item.variant.damageTypeT">
			<option v-for="(label, index) in damageTypeLabels" :value="index" :key="index">{{ label }}</option>
		</select>
	</div>
	
</div>