<div>
	<div v-if="firearm">
		-Firearm-
		<br/>
		<span>
			<label><input type="checkbox" v-model="firearm.double"></input>Double</label>&nbsp;&nbsp;&nbsp;
		</span>
		<span>
			<label><InputInt :obj="firearm" prop="multishot" style="width:40px" /></input>Multishot</label>&nbsp;&nbsp;&nbsp;
		</span>
		<span>
			<label><InputInt :obj="firearm" prop="magazine" style="width:40px" />Magazine</label>&nbsp;&nbsp;&nbsp;
		</span>
		<span>
			<label><InputInt :obj="firearm" prop="revolver" style="width:40px" />Revolver</label>&nbsp;&nbsp;&nbsp;
		</span>
		<span>
			<label><InputInt :obj="firearm" prop="highCaliber" style="width:40px" /></input>High Caliber</label>&nbsp;&nbsp;&nbsp;
		</span>
	</div>
	<div>
		-Item:-
		<div>
			<label>Cost:</label><br/>
			<InputInt :step="1" :min="0" :obj="item" prop="cost" style="width:40%;display:inline-block" /><select number v-model.number="item.costCurrency" style="width:50%;display:inline-block">
				<option value="0">cp</option>
				<option value="1">sp</option>
				<option value="2">gp</option>
			</select>
		</div>
		
		<div v-if="!handInteractable">
			<i>Unhold items before you can interact with hand-related flags</i>
		</div>
		<div v-for="(li, i) in itemFlags" :key="i" v-if="withinItemFlagRange(i)" >
			<label :class="{disabled:!handInteractable && (shiftIndex(i)&handMask)!=0}"><input type="checkbox" :value="shiftIndex(i)" :disabled="!handInteractable && (shiftIndex(i)&handMask)!=0" :checked="(shiftIndex(i)&item.flags)!=0" v-on:click="checkboxHandler($event.target, i, item, 'flags')" ></input>{{li}}</label>
		</div>
		<hr/>
	</div>
			
	
	<div v-if="weapon">
		-{{weapon.ranged ? 'Missile' : 'Melee'}} Flags:-
		<div v-if="!weapon.ranged">
			<div v-for="(li, i) in meleeFlags" :key="i" style="display:inline-block;margin-right:3px">
				<label :class="{disabled:(meleeFlagDisablingMask&shiftIndex(i))!=0}"><input type="checkbox" :checked="(shiftIndex(i)&item.meleeFlags)!=0" v-on:click="checkboxHandler($event.target, i, item, 'meleeFlags')" :value="shiftIndex(i)" :disabled="(meleeFlagDisablingMask&shiftIndex(i))!=0"></input>{{li}}</label>
			</div>
			<hr/>
			<label><input type="checkbox" v-on:click="onWeapSpecialCheck($event.target, false)" :checked="weapon.meleeSpecial!=null"><i>MeleeSpecial?</i></input></label>
			<div v-if="item.meleeSpecial">
				<div v-for="(li, i) in meleeVarLabels" :key="i">
					<label style="width:50%; float:left;display:block;">{{ li }}: </label><InputInt style="width:50%;float:left;display:block;max-width:40px" :min="0" :obj="item.meleeSpecial" :prop="meleeVarNames[i]" />
					<div style="clear:both"></div>
				</div>
			</div>
			<hr/>
		</div>
		<div v-if="weapon.ranged">
			<div v-for="(li, i) in missileFlags" :key="i"  style="display:inline-block;margin-right:3px">
				<label class="{disabled:(missileFlagDisablingMask&shiftIndex(i))!=0}"><input type="checkbox" :checked="(shiftIndex(i)&item.missileFlags)!=0"  v-on:click="checkboxHandler($event.target, i, item, 'missileFlags')" :value="shiftIndex(i)"  :disabled="(missileFlagDisablingMask&shiftIndex(i))!=0"></input>{{li}}</label>
			</div>
			<hr/>
			<label><input type="checkbox" v-on:click="onWeapSpecialCheck($event.target, true)" :checked="weapon.missileSpecial!=null"><i>MissileSpecial?</i></input></label>
			<div v-if="item.missileSpecial">
				<div v-for="(li, i) in missileVarLabels" :key="i">
					<label style="width:50%; float:left;display:block;">{{ li }}: </label><InputInt style="width:50%;float:left;display:block;max-width:40px" :min="0" :obj="item.missileSpecial" :prop="missileVarNames[i]" />
					<div style="clear:both"></div>
				</div>
			</div>
		</div>
		<hr/>
	</div>
	<div v-if="shield">
		<div v-show="hasStrap">
			<label>Shield Strap: </label><select number v-model.number="shield.strapType" style="width:auto">
				<option value="0">Arm</option>
				<option value="1">Shoulder</option>
			</select>
		</div>
		<hr/>
	</div>
					
	<div v-if="isAmmo">
		<div v-if="firearmAmmo">
			-Firearm Ammo Modifiers-
			<div>
				<label><InputInt :obj="weapon.firearm" prop="load" />Load</label>
			</div>
		</div>
		<div v-if="crossbowAmmo">
			-Crossbow Ammo Modifiers-
			<div>
				<label><InputInt :obj="weapon.crossbow" prop="span" />Span</label>
			</div>
		</div>
		<hr/>
	</div>
					
	<div v-if="weapon!=null && currentCustomise!=null">
		<div v-if="!isEnteredItem">
			<div>-Weapon Personalisation?-</div>
			<i>Have current item inserted into list first before being able to register a new customisation.</i>
		</div>
		<div v-else>
			<div>-Weapon Personalisation-</div>
			
			<div v-if="customise != null">
				<label>Customisation Name:</label><input type="text" v-model="currentCustomise.name"></input>
			</div>
			<div v-else>
				<label>Name:</label><input type="text" v-on:blur="setCustomiseNameInput($event.target)" :value="currentCustomise.name"></input>
			</div>
			
			<div v-if="isMeleeWeap">
				<div>-Melee Customisations</div>
				<div v-for="(li, i) in customMeleeFlags" :key="i"  style="display:inline-block;margin-right:3px">
					<label><input type="checkbox" :checked="(shiftIndex(i)&currentCustomise.meleeFlags)!=0"  v-on:click="checkboxHandler($event.target, i, currentCustomise, 'meleeFlags')" :value="shiftIndex(i)"></input>{{li}}</label>
				</div>
				<div v-if="customise != null || currentCustomise.melee == null"><label><input type="checkbox" v-on:click="onCustomMeleeCheck($event.target)" :checked="currentCustomise.melee!=null"><i>more...</i></input></label></div>	
					
				<div v-if="currentCustomise.melee != null">
					<div v-for="(li, i) in customMeleeIntVarLabels" :key="i">
						<label style="width:50%; float:left;display:block;">{{ li }}: </label><InputInt style="width:50%;float:left;display:block;max-width:40px" :min="0" :obj="currentCustomise.melee" :prop="customMeleeIntVars[i]" />
						<div style="clear:both"></div>
					</div>
					<div v-show="currentCustomise.melee.integratedPistol >=1">
						<div>Integrated Pistol: {{ currentCustomise.melee.integratedPistol == 1 ? "Pistol" : "Dragon" }}</div>
					</div>
					<div v-show="currentCustomise.hasBizarreGimmick()">
						<label style="display:block;">Bizaare Gimmick: </label><input style="display:block;width:90%"  v-model="currentCustomise.melee.bizarreGimmickDesc"></input>
					</div>
					<div v-show="currentCustomise.hasExquisiteDecoration()">
						<label style="display:block;">Exquisite Decoration: </label><input style="display:block;width:90%"  v-model="currentCustomise.melee.exquisiteDecorDesc"></input>
					</div>
					<div v-show="currentCustomise.isRidiculouslySharp()">
						<label>Sharpened?</label>
						<input type="checkbox" v-model="currentCustomise.melee.sharpened"></input>
					</div>
				</div>
			</div>
			
			<div v-if="customise != null">
				<button v-on:click="assignWeaponCustomisation()" :disabled="!canRegisterCustomisation">Register Customisation &gt;&gt;</button>
			</div>	
			<div v-else>
				<i>Weapon has been customised.</i>
			
				<br/>
				<div>
					<label><i>Restore original?</i></label><input type="checkbox" v-model="restoreOriginal"></input><br/><br/>
				</div>
				<div v-if="restoreOriginal" >
					<button v-on:click="doRestoreOriginal()">Confirm Restore Original</button>
				</div>
			</div>
		</div>
		<hr/>
	</div>
						
	<div v-if="armor!=null">
		<div>-Headgear-related:-</div>
		<div><label>Perception Penalty (PP): <InputInt :obj="item" :min="0" prop="pp" /></label></div>
		<hr/>
		<div>-Armor Flags:-</div>
		<div v-for="(li, i) in armorFlags" :key="i" style="display:inline-block;margin-right:3px">
			<label><input type="checkbox" :checked="(shiftIndex(i)&item.specialFlags)!=0" v-on:click="checkboxHandler($event.target, i, item, 'specialFlags')" :value="shiftIndex(i)"></input>{{li}}</label>
		</div>
		<hr/>
		<div><label><input type="checkbox" v-on:click="onArmorSpecialCheck($event.target)" :checked="item.special!=null"></input><i>ArmorSpecial?</i></label></div>
		<div v-if="item.special">
			<div><label>Layer: <InputInt :obj="item.special" prop="layer" :min="0"  /></label></div>
			<div v-if="item.special.layer > 0 && layerCoverageFlags.length > 0">
				<label>Layer coverages: <i>(leave blank for all)</i> {{layerCoverageBits}}</label>
				<div><label  v-for="li in layerCoverageFlags" :key="li.value"><input type="checkbox" v-on:click="checkboxHandler($event.target, li.index, item.special, 'layerCoverage')" :checked="(li.value&item.special.layerCoverage)!=0"></input>{{li.index+1}}:{{li.label}}</label></div>
			</div>
			<div><label>Restricts breathing: <InputInt :obj="item.special" prop="restrictsBreathing" :min="0" /></label></div>
			<br/>
			<div><label><input type="checkbox" v-on:click="onArmorWornWithCheck($event.target)" :checked="item.special.wornWith!=null"></input>Worn With modifer?</label></div>
			<div v-if="item.special.wornWith!=null">
				<div><label>Other Armor Name: <input type="text" v-model="item.special.wornWith.name"></input></label></div>
				<div>Layer: <i>("0" for AV Self, "-1" for AV Other)</i></div>
				<div><label>Layer: <InputInt :min="-1" :obj="item.special.wornWith" prop="layer" /></label></div>
			</div>
			<div><label><input type="checkbox" v-on:click="onArmorLocationSpecificSpecialCheck($event.target)" :checked="item.special.hitModifier!=null"></input>Location/Zone-specific modifier?<i v-show="item.special.hitModifier != null"> Provides...</i></label></div>
			<div v-if="item.special.hitModifier!=null">
				<div><label>Multiplied of AV: <InputNumber :step="0.5" :min="0" :obj="item.special.hitModifier" prop="multiplyAV" /></label></div>
				<div><label>Added/Subtracted AV: <InputInt :obj="item.special.hitModifier" prop="addAV" /></label></div>
				<div><label :class="{active:item.special.hitModifier.locationMask!=0}"><b>Hit Locations:</b> </label>{{layerCoverageFlags.length!=0 ? "" : " - "}}<label v-for="li in layerCoverageFlags" :key="li.id"><input type="checkbox" v-on:click="checkboxHandler($event.target, li.index, item.special.hitModifier, 'locationMask')" :checked="(li.value&item.special.hitModifier.locationMask)!=0"></input>{{li.index+1}}:{{li.label}}</label></div>
				<div><label :class="{active:item.special.hitModifier.targetZoneMask!=0}"><b>Target Zones:</b> </label></div>
				<div class="label" :class="{active:modifyAllSwinging}"><label></label>Swinging Target Zones: <label><i>All?</i><input type="checkbox"  v-on:click="checkboxMaskHandler($event.target, swingMask, item.special.hitModifier, 'targetZoneMask')" :checked="modifyAllSwinging"></input></label></div>
				<div><label v-for="li in targetZoneFlags" :key="li.id"><input type="checkbox" v-on:click="checkboxHandler($event.target, li.index, item.special.hitModifier, 'targetZoneMask')" :checked="(li.value&item.special.hitModifier.targetZoneMask)!=0"></input>{{li.index+1}}:{{li.label}}</label></div>
				<div class="label" :class="{active:modifyAllThrusting}">Thrusting Target Zones: <label><i>All?</i><input type="checkbox" v-on:click="checkboxMaskHandler($event.target, thrustMask, item.special.hitModifier, 'targetZoneMask')" :checked="modifyAllThrusting"></input></label></div>
				<div><label v-for="li in targetZoneFlags2" :key="li.id"><input type="checkbox" v-on:click="checkboxHandler($event.target, li.index, item.special.hitModifier, 'targetZoneMask')" :checked="(li.value&item.special.hitModifier.targetZoneMask)!=0"></input>{{li.index+1}}:{{li.label}}</label></div>
				
			</div>


		</div>
		<hr/>	
		<div v-if="currentArmorCustomise!=null">
			<div v-if="!isEnteredItem">
				<div>-Armor State/Customisation-</div>
				<i>Have current item inserted into list first before being able to register a new customisation.</i>
			</div>
			<div v-else>
				<div>-Armor State/Customisation-</div>
				<div v-if="customiseArmor != null">
					<label>State/Customisation Name:</label><input type="text" v-model="currentArmorCustomise.name"></input>
				</div>
				<div v-else>
					<label>Name:</label><input type="text" v-on:blur="setArmorCustomiseNameInput($event.target)" :value="currentArmorCustomise.name"></input>	
				</div>
			</div>
			
			<div v-if="isEnteredItem">
				<div><label>Crest: <select number v-model.number="currentArmorCustomise.crest"><option :value="0"></option><option v-for="(li,i) in armorCrestLabels" :key="i+1" :value="i+1">{{li}}</option></select></label></div>
				<div v-if="layerCoverageFlags.length!=0"><label><i>Reduced/Crushed AVs:</i></label></div>
				<div><label  v-for="li in layerCoverageFlags" :key="li.id"><InputInt v-on:input.native="crushAVInputHandler($event.target, li)" :max="0" :obj="hitLocationDummy" :prop="li.id" /> {{li.index+1}}:{{li.label}}</label></div>
				<div v-if="customiseArmor != null">		
					<button v-on:click="assignArmorCustomisation()" :disabled="!canRegisterArmorCustomisation">Register Customisation &gt;&gt;</button>
				</div>
				<div v-else>	
					<i>Armor has been altered.</i>
					<br/>	
					<div>
						<label><i>Restore original?</i></label><input type="checkbox" v-model="restoreOriginal"></input><br/><br/>
					</div>
					<div v-if="restoreOriginal" >
						<button v-on:click="doRestoreOriginalArmor()">Confirm Restore Original</button>
					</div>	
				</div>
			</div>
				
		</div>
				
		<hr/>
			
	</div>
</div>